
.txt_close {
	font-size: 24px;
	color: #679c21;
	display: inlne-block;
	vertical-align: middle;
	overflow: hidden;
	font-weight: bold;
	padding: 0 5px 0 0
}

.txt_close:hover {
	text-decoration: none
}

.loadtempimg {
	width: 102px;
	height: 63px;
	border: 1px solid #a5a5a5
}

.onlineticket .userbar {
	height: 0;
	float: left
}

.onlineticket {
	height: 40px;
	background: #111111;
	border-top: 1px solid #515151;
	position: relative;
	z-index: 3;
	/* opacity: .6; */
}

.onlineticket .midbox {
	width: 1200px;
	margin: auto;
	height: 40px;
	position: relative;
	z-index: 0;
}

.cityselect,
.movieselectbox,
.cityselect h2,
.cityselect a,
.moviemid,
.ticketinfo {
	float: left;
	display: inline
}

.cityselect h2,
.cityselect .citylink {
	color: #fff;
	line-height: 75px
}

.cityselect h2 {
	font-size: 20px;
	margin: 0 10px 0 0
}

.cityselect .citylink {
	font-size: 14px;
	text-decoration: underline
}

.cityselect .citylink:hover {
	text-decoration: none
}

.cityselect {
	min-width: 160px;
	_width: 160px
}

.movieselectbox {
	height: 36px;
	margin: 7px 0 3px 210px;
}

.moviemid {
	background: #f5f5f5;
	border-radius: 20px;
	height: 25px;
	line-height: 25px;
	padding: 0px 5px 0 0;
	font-size: 12px;
	margin: 0px 8px 0 0;
}

.moviemid span {
	white-space: nowrap;
	padding: 0px 30px 0 10px;
	min-width: 110px;
	width: 110px;
	position: relative;
	zoom: 1;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
}

.moviemid span a {
	position: absolute;
	right: 5px;
	top: 0
}

.moviemid .clearinfo {
	font-size: 12px
}

.moviemid span a,
.moviemid span a:hover {
	color: #1382ba;
	text-decoration: none
}

.nottime {
	color: #ccc;
	background: #f0f0f0
}

.nottime .ico_select,
.nottime .ico_select:hover {
	cursor: default;
	background-color: #ccc
}

.ico_select,
.moviemid span {
	display: inline-block;
	vertical-align: middle;
}

.ico_select {
	width: 20px;
	height: 20px;
	border-radius: 40px;
	background: #394042 url(/hy/images/img_login/cinema_public.png) no-repeat -214px -113px;
}

.ico_select:hover {
	text-decoration: none;
	background-color: #27c7ac;
}

.ticketinfo {
	color: #ff6d00
}

.ticketinfo .ticket {
	line-height: 36px;
	height: 36px;
	font-size: 18px;
	width: 120px;
	vertical-align: top
}

.ticketinfo .false,
.ticketinfo .false:hover {
	background: #ccc;
	cursor: default;
	color: #666
}

.ticketinfo b {
	font-size: 24px;
	line-height: 36px;
	padding: 0 2px 0 5px;
	font-weight: bold
}

.movieselect {
	background: #f9f9f9;
	width: 188px;
	position: relative;
	zoom: 1;
	display: inline-block;
	*display: inline;
	border: 1px solid #ccc;
	border-radius: 3px;
	z-index: 9;
	cursor: pointer
}

.movieselect .name {
	width: 140px;
	height: 31px;
	display: inline-block;
	*display: inline;
	position: relative;
	zoom: 1;
	line-height: 31px;
	padding: 0 38px 0 12px;
	font-size: 14px;
	overflow: hidden
}

.movieselect .name em {
	float: right
}

.movieselect .name strong {
	color: #f90;
	font-weight: normal
}

.movieselect .sharp,
.movieselect .sharptop {
	background: url(http://static1.mtime.cn/theater/20160406151957/images/allicon.gif) no-repeat -2px -2px;
	width: 13px;
	height: 7px;
	position: absolute;
	top: 13px;
	right: 10px
}

.movieselect .sharptop {
	background-position: -19px 0
}

.movieselect .moviestip {
	background: #fff;
	width: 255px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 33px;
	left: -1px;
	right: 0;
	border: 1px solid #ebebeb;
	box-shadow: 1px 1px 3px #ebebeb;
	padding: 3px 1px;
	border-radius: 5px;
	font-size: 14px
}

.moviestip ul {
	height: 312px;
	overflow: hidden;
	overflow-y: auto
}

.moviestip li {
	position: relative;
	zoom: 1;
	display: block;
	font-size: 14px;
	overflow: hidden
}

.moviestip li a {
	display: block;
	clear: both;
	overflow: hidden;
	position: relative;
	zoom: 1;
	color: #333;
	text-decoration: none;
	padding: 5px 12px;
	line-height: 1.6em
}

.moviestip li a:hover {
	background: #e5f2fb;
	color: #08c
}

.moviestip li b {
	float: right;
	display: inline
}

.moviestip {
	background: #fff;
	width: 255px;
	overflow: hidden;
	overflow-y: auto;
	position: absolute;
	top: 40px;
	left: 550px;
	right: 0;
	border: 1px solid #ebebeb;
	box-shadow: 1px 1px 3px #ebebeb;
	padding: 3px 1px;
	border-radius: 5px;
	font-size: 14px;
	height: 392px;
}

.cinematip {
	background: #fff;
	width: 610px;
	position: absolute;
	top: 40px;
	border: 1px solid #ebebeb;
	box-shadow: 1px 1px 3px #ebebeb;
	border-radius: 5px;
	padding: 15px;
	font-size: 13px;
	line-height: 1.8em;
	height: 368px;
	right: 0;
}

.cinematip .searcher,
.moviestip .searcher {
	background: #f7f7f7;
	height: 30px;
	width: 215px;
	border: 1px solid #bababa;
	border-radius: 15px;
	float: right;
	display: inline;
	padding: 0 15px;
	margin-bottom: 10px;
}

.cinematip .searcher {
	float: left
}

.cinematip .pb9 .lh25 {
	float: right
}

.searcher .input {
	outline: none;
	background: transparent;
	width: 170px;
	border: 0;
	float: left;
	font-size: 14px;
	margin-top: 3px;
}

.searcher .sub {
	background: url(http://static1.mtime.cn/theater/20160406151957/images/index.jpg) no-repeat -265px 0;
	display: block;
	width: 16px;
	height: 16px;
	display: block;
	float: right;
	display: inline;
	margin-top: 8px;
	cursor: pointer;
}

.moviestip .searcher {
	width: 197px;
	float: none;
	display: block;
	margin: 12px;
	padding: 0 9px
}

.cinematip p {
	overflow: hidden;
	border-bottom: 1px solid #bababa;
}

.cinematip p.oftenlist {
	position: relative;
	zoom: 1;
	padding: 12px 0 12px 60px
}

.cinematip p.oftenlist span {
	position: absolute;
	left: 0;
	top: 12px;
	width: 70px
}

.cinematip .alist a {
	width: 248px;
	padding: 0 0 0 12px;
	display: inline-block;
	*display: inline;
	color: #333;
	position: relative;
	zoom: 1
}

.cinematip .alist a:hover {
	background: #e5f2fb;
	text-decoration: none;
	color: #08c
}

.cinematip .arealist {
	z-index: 1111111;
	overflow: hidden;
	overflow-y: auto;
	height: 328px;
	position: relative;
	zoom: 1;
}

.cinematip .arealist p.oftenlist {
	border-bottom: 0;
	padding-bottom: 0
}
.i_date {
	background: #fff;
	width: 600px;
	position: absolute;
	top: 40px;
	border: 1px solid #ebebeb;
	box-shadow: 1px 1px 3px #ebebeb;
	border-radius: 5px;
	font-size: 13px;
	line-height: 1.8em;
	right: 0;
}

.i_date .i_datetab {
	background: #f3f3f3;
	height: 64px;
	border-bottom: 1px solid #d9d9d9;
	position: relative;
	padding: 0 50px;
}

.i_datetab a.lastday,
.i_datetab a.nextday {
	position: absolute;
	top: 0;
	height: 64px;
	width: 26px;
	cursor: pointer
}

.i_datetab a.lastday i,
.i_datetab a.nextday i {
	background: url(http://static1.mtime.cn/theater/20160406151957/images/allicon.gif) no-repeat 0 0;
	width: 9px;
	height: 22px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -11px 0 0 -5px
}

.i_datetab a.lastday i {
	background-position: -120px -22px
}

.i_datetab a.nextday i {
	background-position: -129px -22px
}

.i_datetab a.lastday.false i {
	background-position: -120px 0
}

.i_datetab a.nextday.false i {
	background-position: -129px 0
}

.i_dates {
	width: 500px;
	position: relative;
	overflow: hidden;
}

.i_dates dl {
	overflow: hidden;
	position: relative;
}

.i_dates dd {
	float: left;
	display: inline;
	position: relative;
	width: 170px;
	font-size: 16px;
	line-height: 64px;
	text-align: center;
	cursor: pointer;
}

.i_dates dd.on {
	background: #fff;
	/* border-left: 1px solid #e4e4e4; */
	/* border-right: 1px solid #e4e4e4; */
	/* box-shadow: 0 0 3px #e4e4e4; */
}

.i_date .showdate {
	height: 333px;
	overflow-y: auto
}

.i_date ul {
	margin: 0 8px;
	position: relative;
	zoom: 1;
	overflow: hidden
}

.i_date li {
	clear: both;
	overflow: hidden;
	position: relative;
	zoom: 1;
	border-top: 1px dotted #ccc;
	height: 32px;
	line-height: 32px;
	padding: 12px 0;
	margin-top: -1px;
	cursor: pointer
}

.i_date li a {
	color: #333
}

.i_date li a:hover {
	text-decoration: none
}

.i_date span {
	float: left;
	display: inline;
	font-size: 14px
}

.i_date span.time {
	font-size: 18px;
	width: 100px;
	color: #333
}

.i_date span.time i {
	font-size: 12px;
	color: #666
}

.i_date span.ting {
	width: 180px
}

.i_date span.mprice {
	width: 80px;
	color: #f60;
	font-size: 24px
}

.i_date span.yprice {
	width: 50px;
	color: #999;
	text-decoration: line-through
}

.i_date span.tbtn {
	background: #0081bc;
	width: 100px;
	height: 32px;
	color: #fff;
	float: right;
	display: inline;
	text-align: center;
	border-radius: 16px;
	font-size: 14px;
	line-height: 32px;
	overflow: hidden
}

.i_date span.tbtn:hover {
	background: #0074a9;
	text-decoration: none
}