.merge_title{line-height:1.1;padding: 11px 15px;}
.reminder{color:#ff781e;line-height: 2;font-size: 0.6rem;padding: 0 0.6rem;}
.reminder p{color:#ff781e;font-size: 0.6rem;}
.reminder h4{font-style: normal;font-weight: normal;font-size: 0.65rem;}