<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<div class="col-xs-12 padding_10_10" style="border-top: 5px solid #ccc;border-bottom: 5px solid #ccc;">
	<h5 class="font-1" style="font-weight:500; margin-top:0; margin-bottom:0;">{$planlist.0.movie.movieName} <span style="margin-left:15px;color:#FC7E2C ;"><span>{$planlist.0.movie.score} </span>分</span> </h5>
</div>
<div class="biaoqian1">
	<div class="swiper-container biaoqian">
		<div class="swiper-wrapper">
			{foreach from=$featureTimes item=featureTime}
			<div class="swiper-slide featureTime {if $featureTime eq $currentTime} select1 {/if}" data-movieid="{$movieid}" >{$featureTime}</div>
			{/foreach}
		</div>
	</div>
</div>
<div class="col-xs-12 tips">
	<h5>温馨提示：影院提前60分钟关闭网络售票</h5>
</div>
<div id="planone">
	{if $moviePlan}
	{foreach from=$moviePlan item=plan}
	<div class="xuanzuo border-2" {if $plan.is_cut eq 0} onclick="location.href='cinema.php?step=cinemaSeats&hallno={$plan.hallNo}&planid={$plan.planId}&movieid={$plan.movieId}&cinemaid={$plan.cinemaId}'"{/if}>
		<div class="col-xs-3">
			<h4 class="line-39">{$plan.time}</h4>
		</div>
		<div class="col-xs-3 color_9">
			<h5>{$plan.screenType}/{$plan.language}</h5>
			<h5>{$plan.hallName}</h5>
		</div>
		<div class="col-xs-3 color_orange">
			<h4 class="line-39">{$plan.price}</h4>
		</div>
		<div class="col-xs-3">
		{if $plan.is_cut eq 1}
			<h5 class="line-39" style="border: 1px dashed #FE6902; border-radius: 5px;">已过场</h5>
		{else}
			<h5 class="line-39 btn_xuanzuo">选座购票 </h5>
		{/if}
		</div>
	</div>
	{/foreach}
	{else}
	<div class="xuanzuo">
		<center style="height:150px; line-height:150px;">当前日期没有可选的排期</center>
	</div>
	{/if}
</div>


</body>
</html>