 <div class="seatmap2" style="width:{$allwidth}px;   padding-bottom: 20px; overflow-x:scroll">
 {foreach from=$seatInfo item=seat name=seat}
	<div class="map-row" id="{$seat.hallId}_{$seat.graphRow}" rowno="{$seat.graphRow}" locno="{$seat.hallId}">
		<div class="number-row pull-left">
			<span>{$seat.seatRow}</span>
		</div>		
		<div class="seat-row text-center">		
			{foreach from=$seat[columns][0] item=column name=column key=ki}
				<!-- 普通座位 -->
				{if $column.seatType == 0}
					
					<!-- 走廊 -->
					{if $column.seatEmpty==true} <span class="empty-col" columnno="{$ki}">&nbsp;</span> 
					
					<!-- 已售 -->
					{elseif $column.seatState == 1} 
						<a href="javascript:;" class="seat disabled" rowno="{$column.graphRow}" locno="{$column.hallId}" columnno="{$ki}" title="{$column.graphRow}排{$column.seatCol}座"  seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					<!-- 可选座位 -->
					{else}
						<a href="javascript:;" class="seat active" rowno="{$column.seatRow}" locno="{$column.hallId}" columnno="{$ki}" title="{$column.seatRow}排{$column.seatCol}座" onclick="changeSeatImg(this,'img_{$column.seatNo}');" seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					{/if}
					
				<!-- 情侣座 -->
				{elseif $column.seatType == 1}
					 <!-- 走廊 -->
					{if $column.seatEmpty==true} <span class="empty-col" columnno="{$ki}">&nbsp;</span> 
					
					<!-- 已售 -->
					{elseif $column.seatState == 1} 
						<a href="javascript:;" class="seat disabled" rowno="{$column.graphRow}" locno="{$column.hallId}" columnno="{$ki}" title="{$column.graphRow}排{$column.seatCol}座"  seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					<!-- 可选座位 -->
					{else}
						<a href="javascript:;" class="seat love" rowno="{$column.seatRow}" locno="{$column.hallId}" columnno="{$ki}" title="{$column.seatRow}排{$column.seatCol}座" onclick="changeSeatImg(this,'img_{$column.seatNo}');" seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					{/if}
					
				{/if}					
			{/foreach}	
			
			{foreach from=$seat[columns][1] item=column name=column key=ki2}
				<!-- 普通座位 -->
				{if $column.seatType == 0}
					<!-- 走廊 -->
					{if $column.seatEmpty==true} <span class="empty-col" columnno="{$ki2}">&nbsp;</span>
					<!-- 已售 -->
					{elseif $column.seatState == 1} 
						<a href="javascript:;" class="seat disabled" rowno="{$column.graphRow}" locno="{$column.hallId}" columnno="{$ki2}" title="{$column.graphRow}排{$column.seatCol}座"  seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					<!-- 可选座位 -->
					{else}
						<a href="javascript:;" class="seat active" rowno="{$column.seatRow}" locno="{$column.hallId}" columnno="{$ki2}" title="{$column.seatRow}排{$column.seatCol}座" onclick="changeSeatImg(this,'img_{$column.seatNo}');" seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					{/if}
					
				<!-- 情侣座 -->
				{elseif $column.seatType == 1}
					<!-- 走廊 -->
					{if $column.seatEmpty==true} <span class="empty-col" columnno="{$ki2}">&nbsp;</span> 
					
					<!-- 已售 -->
					{elseif $column.seatState == 1} 
						<a href="javascript:;" class="seat disabled" rowno="{$column.graphRow}" locno="{$column.hallId}" columnno="{$ki2}" title="{$column.graphRow}排{$column.seatCol}座"  seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					<!-- 可选座位 -->
					{else}
						<a href="javascript:;" class="seat active" rowno="{$column.seatRow}" locno="{$column.hallId}" columnno="{$ki2}" title="{$column.seatRow}排{$column.seatCol}座" onclick="changeSeatImg(this,'img_{$column.seatNo}');" seatno="{$column.seatNo}" id="{$column.seatNo}" href="javascript:void(0);"></a>
					{/if}
					
				{/if}

			{/foreach}
		</div>
	</div>
{/foreach}
</div>
