<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title>卡充值</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script type="text/javascript" src="js/messageJs.js"></script>
	<script src="js/loadAjax.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div class="container">
	<div class="mobile_logo">
		<img src="/mobile/images/mobile_logo.png" alt="聚优福利">
	</div>
	<div class="row clearfix">
		<div class="title f_l">充值的卡</div>
		<div class="card_num f_r">{$username}</div>
	</div>
	<div class="row">
		<div class="title">充值点数</div>
		<div class="point_list clearfix">
			<ul>
				{foreach from=$priceList item=pl key=pk name=price}
				<li {if $pk eq 30}class="on"{/if} data-price={$pl}>
					<div class="text">
						<div class="point">{$pk}点</div>
						<div class="money">售价{$pl}元</div>
					</div>
				</li>
				{/foreach}
			</ul>
		</div>
	</div>

	<div class="charge_row">
		<div class="title">充值方式</div>
		<div class="charge clearfix">
			<ul >
				<li class="on" data-pay="4">
					微信支付
				</li>
				<li data-pay="3">
					支付宝支付
				</li>
			</ul>
		</div>
	</div>
</div>
<a href="javascript:void(0)" class="btn charge_btn act-pay">确认充值</a>
<div class="reminder">
	<h4>温馨提示：</h4>
	<p>1、充值30点或50点延期3个月，充值100点延期1年；</p>
	<p>2、卡过期前3个月至卡过期6个月内充值可延期；</p>
	<p>3、充值有效期延期以卡截止有效期开始计算延期并非是充值日期；</p>
	<p>4、充值延期规则适用于‘999011’和‘999013’开头的卡，其他暂不支持；</p>
</div>
<script>

	// 选择点数
	$('.point_list li').click(function(){
		$(this).closest('.point_list').find('li').each(function(index, dom){
			$(dom).removeClass('on');
		});
		$(this).addClass('on');
		
	});
	// 选择支付方式
	$('.charge li').click(function(){
		$(this).closest('.charge').find('li').each(function(index, dom){
			$(dom).removeClass('on');
		});
		$(this).addClass('on');

	});
	// 支付
	$('.act-pay').click(function(){
		
		var amount = $('.point_list .on').attr('data-price');
		var pay	  = $('.charge .on').attr('data-pay');
		if(typeof(amount) == 'undefined'){
			message.messageAlert('请选择充值点数');
			return false;
		}
		
	
		$(this).loadAjax('user.php?act=act_account',{amount:amount, rec_id:0, surplus_type:0, payment_id:pay}, function( info ){
			var data = jQuery.parseJSON(info);
			if(data.error > 0){
				message.messageAlert(data.message);
			}else{
				//alert(data.href);
				window.location.href = data.href;
			}
		});
		
		
		
	});
</script>
</body>
</html>