<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title>華影文化</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script src="js/loadAjax.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">
	<link rel="stylesheet" href="css/main.css">
	<style type="text/css">
			label{	width: 100%; color:#80C08F; border:1px #80C08F solid;	}
			input{	display: none;	}
			.point .col-xs-6, .pay .col-xs-4{	text-align: center;	}
			.active{ color:#FF8287; border:1px #FF8287 solid;}
			.input-group-addon{  background-color: #d9534f; color:#fff; border:1px #d9534f solid;}
			
		</style>
</head>

<body>
{$header}
<div class="container point" style="margin-bottom:10px;">
	<div class="row">
		<div class="col-xs-12">
			<h5>验证卡号</h5>
		</div>
		<div class="col-xs-12">
			<input name="cardno" style="margin-bottom: 7px;" class="form-control" type="text" placeholder="请输入卡号" id="from_card">
		</div>
		<div class="col-xs-12">
			<input name="password" style="margin-bottom: 7px;" class="form-control" type="password" placeholder="请输入密码" id="from_card">
		</div>
	</div>			
		
</div>
<div style="text-align: center;margin-top: 30px;">
	<button class="btn btn-danger act-pay" style="width: 70%;">立&nbsp;即&nbsp;验&nbsp;证&nbsp;</button>
</div>
<script>
	// 是否已验证
	var isCheck = false;	
	// 验证卡号
	$('.btn-danger').click(function(){
		if(isCheck == true){
			return false;
		}
		isCheck = true;
		var _that = $(this);
		var username = $("input[name=cardno]").val();
		var password = $("input[name=password]").val();		
		
		$(this).loadAjax('user.php?act=act_login', {username:username,password:password}, function(data){
			if (data == 'success'){				
				window.location.href="user.php?act=account_deposit";
			}else{
				loadMsg('卡号或密码不正确！');
				//loadMsg( data );
				isCheck = false;
			}			
		});		
	});

</script>
</body>
</html>