<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title></title>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<input type="text" name="consignee" id="consignee" value="{$consignees.consignee|escape}" class="hy_dz_input"  placeholder="收货人姓名">
		</div>	
		<div class="col-xs-12">
		    <input type="text" name="mobile" id="mobile" value="{if $consignees.mobile}{$consignees.mobile|escape}{/if}" class="hy_dz_input" placeholder="手机号码" > 
		</div>
		<div class="col-xs-12 region_name">	
		 	{$cityinfo.region_name}
		 </div>
		<div class="col-xs-12">	
			<select name="province" id="province" class="Select16">
				<option value="0">{$lang.please_select}{$name_of_region[1]}</option>
				{foreach from=$province_list item=province}
				<option value="{$province.region_id}" {if $consignees.province eq $province.region_id}selected{/if}>{$province.region_name}</option>
			{/foreach}
		</select>
		</div>
		<div class="col-xs-12">
			<input type="text" name="address" id="address" value="{$consignees.address|escape}" class="hy_dz_input" placeholder="详细收货地址" >
		</div>		
	</div>
	<input name="country" id="country" value="{$consignees.country}" type="hidden" />
</div>

</body>
</html>