<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.9.1.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>		
	<script type="text/javascript" src="js/jquery.common.js"></script>	
	<script type="text/javascript" src="js/layer/layer.js"></script>
	{insert_scripts files='jquery.region.js,utils.js,jquery.shoppingflow.js'}
	<script src="js/loadAjax.js"></script>
	<link href="js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/main.css">
	
	<title>華影文化</title>
	
	<!-- 购物车样式  -->
	{if $step eq "cart"}
	<style>
		.quantity{ position: relative; height: 30px;}
        .decrement, .increment, .itxt{ float:left; text-align:center; width: 30px; height: 30px; line-height:30px; margin: 0; margin-left:-1px;  background:#fff; border:1px solid #9e9e9e;border-radius:0; }
        .decrement, .increment { color:#666; font-size:16px; }
        .decrement{ border-radius:3px 0 0 3px;}
        .increment{ border-radius:0 3px 3px 0}
        .decrement-disabled, .increment-disabled { cursor: no-drop; color:#aaa; background:#f1f1f1;}
        .itxt {font-size: 12px; font-family: verdana; color: #000; -webkit-appearance: none;}
        .itxt-disabled { border: 1px solid #dadada; background: #e6e6e6; color: #888 }
        .quantity span{color: red;float: right;line-height: 30px;}
        .col-xs-1 .glyphicon{font-size: 16px;color: #ccc;}
        .jiesuan h5,.jiesuan h6{color: #77737B;}
        .jiesuan h5 span{font-size: 16px;color: red;}
        .font-weight{font-weight: 600;}
        .color_9{color: #999;}		
	</style>
	{/if}
	<!-- 结算页面  -->
	{if $step eq "checkout"}
	<style>
		.glyphicon-menu-right{	font-size: 18px;	line-height: 60px;	}
		.tel{	margin-left: 10px;	}
		.font-weight{	font-weight: 600;}
		.dizhi{	min-height: 15px;	overflow: hidden;			}
		.input_none input{	border: 0;	}
		.margin_10,.input_none{	margin-top: 10px; padding-top:5px	}
		.table td{	padding: 5px;	width: 100px; } 
		.yunfei{margin-top: 10px;	}
		.margin_10 span{float: right;	color: red;		} 
		select{	border: none!important;	}
		.input_none .col-xs-3{	width: 80px;			}
		.qingdan .col-xs-7 h5{	margin-top: 0;	margin-bottom: 2px;	}
		.qingdan .supplier-title{padding: 9px 5px; margin:0; color:#555}
		.flow-goods{padding:7px 0 7px 12px}
		.qingdan .goods-list{border-top: 1px solid #f1f1f1;}	
		.button .act-submit {position: fixed; bottom: 0;   color: white;  background-color: #FF5500;   border: 0;  font-size: 15px;height: 35px;   width: 100%;}	
		.address-empty i{ font-size: 20px; color: #ccc;  position: relative;   top: 5px;   width: 28px;}
		.address-empty span{color:#ccc;}
	</style>
	{/if}
</head>
<body>

<!-- 购物车 -->
{if $step eq "cart"}
{$header}

<!-- 有数据显示购物车数据 -->
{if $goods_list}
	<form id="formCart" name="formCart" method="post" action="flow.php">
	{foreach from=$goods_list item=supplier name=supplier}
	<div class="container" style="margin-bottom: 10px;">
		<div class="row">
			<div class="col-xs-12 border-2">
				<h5 class="font-weight">{$supplier.supplier_name}</h5>
			</div>
		</div>
		{foreach from=$supplier.goods_list item=goods}
		<div class="row border-2"style="padding: 15px 0 15px 0;">	
			<div class="col-xs-3">
				<img src="/{$goods.goods_thumb}" class="img-responsive">
			</div>
			<div class="col-xs-8">
				<h5 class="font-w">{$goods.goods_name}</h5>
				<h5 class="color_9 font12">{$goods.goods_attr}</h5>
				<div class="quantity">                     
	               <a id="decrement" class="decrement">-</a>
	               <input class="itxt" type="text" name="goods_number[{$goods.rec_id}]" id="goods_number_{$goods.rec_id}" value="{$goods.goods_number}">
	               <a id="increment" class="increment">+</a>
	               <span class="position_r">{$goods.goods_price}点</span>
	            </div>
			</div>
			<div class="col-xs-1">
				<span class="glyphicon glyphicon-trash deleteCard" data-id={$goods.rec_id}></span>
			</div>
		</div>
		{/foreach}
	</div>
	{/foreach}		
	
	<input type="hidden" name="step" value="update_cart" />
	<input type="submit" name="updateCartSub" id="updateCartSub" value="{$lang.update_cart}" style="display:none;" />
	</form>
	<!--结算-->
	<div class="container jiesuan">
		<div class="row">
			<div class="col-xs-6">
				<h5>商品总金额：<span>{$shopping_money}点</span></h5>
				<h6>(不包含运费)</h6>
			</div>
			<div class="col-xs-6">
				<button class="btn btn-danger act-checkout" style="float: right;margin-top: 13px;width: 100px;">去结算</button>
			</div>
		</div>
	</div>
<!-- 没数据显示空购物车 -->
{else}
<div class="container">
	<div class="row" style="padding-bottom: 40px; padding-top: 40px;">
		<div class="col-xs-12">
			<img src="/mobile/images/img/car.png" class="img-responsive center-block">
			<h5 class="text-center">您的购物车内还没有任何商品</h5>	
		</div>
	</div>
</div>
<div class="container" style="padding-bottom: 30px;">
	<div class="row">
		<div class="col-xs-12 text-center">
			<button class="btn btn-danger act-index" style="width: 110px;">去逛逛</button>
		</div>
	</div>
</div>
{/if}

{$get_fixed}
{/if}

<!-- 下单流程  -->
{if $step eq "checkout"}
	{insert_scripts files='date/mobiscroll_date.js,date/mobiscroll.js'}
	<link rel="stylesheet" href="css/mobiscroll_date.css">
	{$header}
	
	<form action="flow.php" method="post" name="theForm" id="theForm" onsubmit="return checkOrderForm(this)">
	{if $checkconsignee}
	<div class="container">
		<div class="row act-edit-address">
			<img src="/mobile/images/img/jiesuan1.jpg" class="img-responsive">
			<div class="col-xs-10">
				<h5><span>{$consignee.consignee|escape}</span><span class="tel">{$consignee.mobile|escape}</span></h5>
				<h5 class="dizhi"><span>{$consignee.country_cn|escape}&nbsp;&nbsp;{$consignee.province_cn|escape}&nbsp;&nbsp;{$consignee.city_cn|escape}&nbsp;&nbsp;{$consignee.address|escape}</span></h5>
			</div>
			<div class="col-xs-2 text-right">
				<span class="glyphicon glyphicon-menu-right"></span>
			</div>
			<img src="/mobile/images/img/jiesuan1.jpg" class="img-responsive">
		</div>
		<input type="hidden" name="consignee_check" id="consignee_check" value="1">
	</div>
	{else}
		<div class="container">
			<div class="row act-add-address address-empty">
				<img src="/mobile/images/img/jiesuan1.jpg" class="img-responsive">
				<div class="col-xs-12">
					<center style="height:60px; line-height:60px;">
						<i class="glyphicon glyphicon-plus-sign"></i>
						<span>添加收货地址</span>
					</center>
				</div>
				<img src="/mobile/images/img/jiesuan1.jpg" class="img-responsive">
			</div>
		</div>
	{/if}
		
	<!-- 支付方式  -->	
	<div class="container input_none">
		<div class="row">
			<div class="col-xs-3"> <h5>支付方式：</h5></div>
			<div class="col-xs-9"><h5>华影卡支付</h5></div>
			<div class="col-xs-3"><h5>配送方式：</h5></div>
			<div class="col-xs-9"><h5>供货商物流</h5></div>
		</div>
		<!--配送时间-->
		{if $supplierTimes}
		<div class="row">
			<div class="col-xs-3"> <h5>配送时间：</h5></div>
			<div class="col-xs-9 ">
				{foreach from=$supplierTimes item=supplier}
				<div class="border-2">
					<h5><span>{$supplier.user_name}</span></h5>
					<input type="text" name="riqi[{$supplier.supplier_id}]" class="user_time form-control st0" placeholder="选择日期" data-sid="{$supplier.supplier_id}">
					<select name="city[{$supplier.supplier_id}]" class="select-time select-city form-control st0" data-sid="{$supplier.supplier_id}"> <option value="0">选择区域</option></select>
                 	<select name="time[{$supplier.supplier_id}]" class="select-time form-control st0" data-sid="{$supplier.supplier_id}"> <option value="0">选择时间</option></select>
				</div>
				{/foreach}		
			</div>
		</div>
		{/if}
		<!--运费-->
		<div class="row yunfei">
			<div class="col-xs-3"><h5>运费：</h5></div>
			<div class="col-xs-9">
				<div class="table">
					<table class="table-bordered">
					{foreach from=$total.supplier_shipping item=supp_ship}
					<tr>
						<td>{$supp_ship.supplier_name}</td>
						<td class="fee-price">{$supp_ship.formated_shipping_fee} 点</td>
					</tr>
					{foreachelse}
					<tr><td>本网</td><td>无</td></tr>
					{/foreach}					
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<!--商品清单-->
	<h5 style="padding: 0 5px; font-weight:700; margin-bottom:0;">商品清单</h5>
	<div class="container qingdan">
	{foreach from=$goods_list item=supplier name=supplier}
		<div class="row border-10">
			<h5 class="color_9 supplier-title">{$supplier[0].seller}</h5>
			{foreach from=$supplier item=goods}
			<div class="row goods-list">
				<div class="col-xs-3 flow-goods">
					<img src="/{$goods.goods_thumb}" class="img-responsive">
				</div>
				<div class="col-xs-7 flow-goods">
					<h5 class="text_hidden">{$goods.goods_name}</h5>
					<h5 class="color_9" style="line-height: 18px;"><span>{$goods.goods_attr}</span></h5>
				</div>
				<div class="col-xs-2">
					<span class="pull-right" style="color: red;">{$goods.formated_goods_price} &nbsp;</span></br></br>
					<span class="pull-right">X<span>{$goods.goods_number}&nbsp;&nbsp;</span></span>
				</div>
			</div>
			{/foreach}
		</div>
	{/foreach}
	</div>
	
	<!--订单总金额-->
	<div class="container margin_10">
		<div class="row">
			<div class="col-xs-12 border-2">
				<h5>订单总金额 <span><font class="ax_total_money font16">{$total.amount_formated}</font> 点</span></h5>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<h6>商品总额<span class="ax_goods_money">{$total.goods_price_formated} 点</span></h6>
				<h6>运费<span>+<font class="ax_shipping_fee">{$total.shipping_fee_formated}</font> 点</span></h6>
			</div>
		</div>
	</div>
	
	<div class="button">
		<input type="hidden" name="shipping" id="shipping" value="1" />
		<input type="hidden" name="payment" id="payment" value="2" />
		<input type="hidden" name="payshipping_check" id="payshipping_check" value="1">
		<input type="hidden" name="step" value="done" />
		<input type="submit" value="提交订单" class="act-submit" />
		<div style="height: 35px;"></div>
	</div>
	
	</form>
{/if}

<!-- 支付页面  -->
{if $step eq "done"}
{$header}
<div class="container dingdan">
	<div class="row">
		{foreach from=$split_order.suborder_list item=suborder}
		<div class="col-xs-12 border-2">
			<div class="action-show">
				<h5>
					<span>{$suborder.order_sn}</span>
					<span class="all_price">{$suborder.order_amount_formated} 点&nbsp; 
					<font color="#999" class="glyphicon glyphicon-chevron-right"></font></span></h5>
				<div class="xiala hide">
					<span class="margin_2">数量：<span>{$suborder.goods_number}</span></span>
					<span class="margin_2">价格：<span>{$suborder.order_amount_formated} 点</span></span>
					<span class="margin_2">运费：<span>{if $suborder.shipping_fee} {$suborder.shipping_fee} {else} 0 {/if} 点</span></span>
				</div>
			</div>
		</div>
		{/foreach}		
	</div>
</div>

<div class="container" style="margin-top: 10px;">
	<div class="row">
		<div class="col-xs-12">
			<h5>总金额：<span class="price_1">{$total.amount_formated}点</span></h5>
			<h5>华影卡号：<span>{$username}</span></h5>
			<h5>密码：
				<div class="form-group" style="display: inline-block; margin-bottom: 0;">
				    <input type="password" name="password" class="form-control" id="password" placeholder="请输入密码">
				 </div>
			</h5>
		</div>
	</div>
</div>
<div class="button act-pay"><button>提交订单</button></div>
<div style="height: 35px;"></div>
		
{/if}

<!-- 选择收获地址 -->
{if $step eq "select_consignee"}
	{$header}
	<div id="order_consignee">  <center style="height:100px; line-height:100px;"><img src="/mobile/js/layer/skin/default/loading-0.gif"></center></div>
	<script> updateConsignee('0'); </script>
{/if}

<script type="text/javascript">

/**	购物车 */
{if $step eq "cart"}  
 	// 删除购物车数据
	$('.deleteCard').click(function(){
		var rec_id = $(this).attr('data-id');
		if(confirm('确定要删除这条记录吗')){
			window.location.href="flow.php?step=drop_to_collect&id="+rec_id;
		};
	});
	
	// 减少数量
	$('.decrement').click(function(){
		var rec_id = $(this).closest('.border-2').find('.deleteCard').attr('data-id');
		changeNumber(rec_id);
	});
	// 添加数量
	$('.increment').click(function(){
		var rec_id = $(this).closest('.border-2').find('.deleteCard').attr('data-id');
		changeNumber(rec_id,1);
	});
	// 去结算
	$('.act-checkout').click(function(){
		window.location.href="flow.php?step=checkout";
	});	
	// 去逛逛
	$('.act-index').click(function(){
		window.location.href="index.php";
	});	
	
	function changeNumber(id, state){
		var number = $('#goods_number_'+id);
		if(isNaN(number.val())){
			loadMsg('请输入数字');
			return false;
		}
		if(state == 1){
			numbers = parseInt(number.val()) + 1;
		}else if(state == 2){
			numbers = parseInt(number.val());
		}else{
			numbers = parseInt(number.val()) - 1;
		}
		if(numbers < 1 || number.val() == ''){
			numbers = 1;
		}
		number.val(numbers);
		$('#updateCartSub').click();
	}
{/if}

/**	提交订单 */
{if $step eq "checkout"}
	
	// 从新选择收货地址
	$('.act-edit-address').click(function(){
		window.location.href="flow.php?step=select_consignee";
	});
	// 添加收货地址
	$('.act-add-address').click(function(){
		window.location.href="user.php?act=edit_address&from=flow";
	});
	
	// 时间选择
	var currYear = (new Date()).getFullYear();	
	var opt={};
	opt.date = {preset : 'date'};
	opt.datetime = {preset : 'datetime'};
	opt.time = {preset : 'time'};
	opt.default = {
		backfun:'backTime',
		theme: 'android-ics light', //皮肤样式
		display: 'modal', //显示方式 
		mode: 'scroller', //日期选择模式
		dateFormat: 'yyyy-mm-dd',
		lang: 'zh',
		showNow: true,
		nowText: "今天",
		startYear: currYear - 50, //开始年份
		endYear: currYear + 10 //结束年份
	};

	$(".user_time").mobiscroll($.extend(opt['date'], opt['default']));
	
	// 选择时间后的回调
	function backTime(dom,val)
	{
		var citydom = dom.next('select');
		var sid = dom.attr('data-sid');		
		shippingTime(citydom,{date:val,sid:sid,cid:-1});		
	}
	
	// 选择区域
	$('.select-city').change(function(){
		var timedom = $(this).next('select');
		var date = $(this).prev('input').val();
		var sid = $(this).attr('data-sid');
		var cid = $(this).val();
		shippingTime(timedom,{date:date,sid:sid,cid:cid});
	});
	
	function shippingTime(dom, params){		
		$(this).loadAjax("flow.php?step=shippingTime",params, function(info){
			var data = jQuery.parseJSON(info);
			if (data.error > 0){
				alert(data.message);
				dom.val('');
			}else{								
				dom.empty();
				dom.append('<option value="0">请选择</option>');
				$.each(data.content, function (k, v){
					dom.append('<option value="'+k+'">'+v+'</option>');
				});
			}
			
			// 更新订单的配送费用和总价格
			if(data.supplier.fee > -1){				
				// 显示快递信息
				var feeClass = 'fee'+data.supplier.sid;
				var tableTr = '<tr class="'+feeClass+'"><td>'+data.supplier.name+'</td><td><font class="fee-price">'+data.supplier.fee+'</font>点</td></tr>';
				$('.'+feeClass).remove();
				$('.yunfei .table-bordered').append(tableTr);						
				// 更新快递费用和总费用
				var ax_goods_money = $('.ax_goods_money').text();
				var ax_shipping_fee = $('.ax_shipping_fee').text();
				var fee_price = 0;
				$('.fee-price').each(function(){
					fee_price += parseFloat($(this).text());
				});
				$('.ax_total_money').html((parseFloat(ax_goods_money)+fee_price).toFixed(2));
				$('.ax_shipping_fee').html(parseFloat(fee_price).toFixed(2));
				
			}
			
		});
	}
{/if}

/* 支付  */
{if $step eq "done"}
	// 显示和隐藏
	$(".action-show h5").click(function(){
		var that = $(this).next('.xiala');
		if(that.hasClass('show'))
		{
			that.removeClass('show').addClass('hide');
			that.slideUp();
			$(this).find('font').removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-right');
		}else{
			that.removeClass('hide').addClass('show');
			that.slideDown();
			$(this).find('font').removeClass('glyphicon-chevron-right').addClass('glyphicon-chevron-down');
		}
	});
	
	if($('.action-show').length == 1){
		$('.action-show h5').click();
	}
	// 去付款
	$('.act-pay').click(function(){
		var amount       = {$order.order_amount};
		var money        = {$money};
		var order_sn     = '{$order.order_sn}';
		var order_id     = '{$order.order_id}';
		var log_id       = '{$order.log_id}';

		var password = $('#password').val();
		if (password.length == 0){
			loadMsg('密码不能为空！');
			return false;
		}

		if (amount > money){
			loadMsg('抱歉，卡余额不足，请充值或换一张！');
			return false;
		}
		$(this).loadAjax('flow.php', {step: 'act_pay', password:password, 'order_id':order_id, 'order_sn':order_sn, 'log_id':log_id, 'order_amount':amount}, function(info){
			var data = jQuery.parseJSON(info);
			if(data.error > 0){
				loadMsg(data.message);
			}else{
				loadMsg('支付成功',function(){ 
					location.href="user.php?act=order_list";
				})
			}
		});
	});

{/if}
//-->
</script>


</body>
</html>