<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<title>華影文化</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/layer/layer.js"></script>
	<script src="js/loadAjax.js"></script>
	<link rel="stylesheet" href="js/layer/skin/layer.css">	
	<link rel="stylesheet" href="css/main.css">	
	<style>
		html,body{
			background-image: url(/mobile/images/img/zhanghaodenglubeijing_01.jpg);
			background-repeat: no-repeat;
			font-size: 16px;
			background-size: 120%;
		}
		.bgs{
			background-color: #2C2C2C;}
		p{
			letter-spacing: 4px;
			font-weight: 600;
			color: white;
		}		
	</style>
</head>
<body>

<div class="container">
	<div class="row bgs">
		<div class="col-md-12">
			<p class="text-center">账号登录</p>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12"
			style="padding-top: 30px; padding-bottom: 30px;">
			<img src="/mobile/images/img/tubiao.png" class="center-block img-responsive">
		</div>
	</div>
	<form role="form" action="user.php" method="post" onSubmit="return false">
	<div class="row">
		<div class="col-xs-12">			
			<div class="input-group">
				<span class="input-group-addon" style="border: 0;">
					<span class="glyphicon glyphicon-user"></span>
				</span> 
				<input type="text" name="username" class="form-control " placeholder="请输入卡正面的卡号"	style="border: 0; height: 40px;">
			</div>
			<br>

			<div class="input-group" style="margin-top: -6px;">
				<span class="input-group-addon" style="border: 0;">
					<span class="glyphicon glyphicon-lock"></span>
				</span> 
				<input type="password" name="password" class="form-control" placeholder="请输入密码"	style="border: 0; height: 40px;">
			</div>
			<br>			
		</div>
	</div>
	<div class="row" style="margin-top: 15px;">
		<div class="col-xs-8 col-xs-offset-2">
			<input type="hidden" name="back_act" value="{$back_act}">
			<button class="btn btn-danger btn-block">登 录</button>
		</div>
	</div>
	</form>
</div>

<script type="text/javascript">

	$(".btn-danger").click(function(){		
		var username = $("input[name='username']").val();
		var password = $("input[name='password']").val();
		var back_act = $("input[name='back_act']").val();
		$(this).loadAjax('user.php?act=act_login', {username:username,password:password}, function(data){
			if (data == 'success'){
				window.location.href = '/index.php';
				//window.location.href = back_act;
			}else{
				alert(data);
				return false;
			}
		});		
	});

</script>
</body>
</html>