<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>華影文化</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/swiper-3.2.7.jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/swiper-3.2.7.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">	
    <link rel="stylesheet" href="css/main.css">
	<title>影片详情</title>
	<style type="text/css">
		.love{border-radius: 3px; display:inline-block; min-width: 50px; width:aoto; max-height:100px;border: 1px solid #E29696;font-size: 14px; padding:3px 8px 1px 0;}
		.glyphicon-heart-empty{margin-left: 5px;color:#E29696 ;}
		#myTab .active {color: #FC7E2C;border-bottom: 2px solid #FC7E2C;display: inline-block; 	}
        .panel-body {padding:0;}
		.myxin2 {background-image: url(/mobile/images/img/star1.png); background-repeat: no-repeat;;height: 16px;width: 80%;background-size: 75px;}
		.myxin {background-image: url(/mobile/images/img/star2.png); background-repeat: no-repeat; background-size:75px;height: 16px;width: 75px;}
	</style>
		
</head>
<body>
<div class="dianying1">
	<!-- header start -->
	{$header}
	<!-- header end -->
	
	<!-- movieinfo start -->
	<div class="container media-content margin_1 margin_top">
		<div class="row padding_10">
			<div class="col-xs-4"style="position: absolute; top: 47px;left: 5px;">
				<img src="{$movies.thumb}" class="img-responsive" style="max-width: 128px;width: 100%;">
			</div>
			<div class="col-xs-8"style="float: right;">
				<h4><span class="font-3">{$movies.movieName}</span><span class="pull-right color_ff6801">{$movies.score}分</span></h4>
				<h5 style="overflow: hidden;"><div class="myxin"><div style="width: {$movies.scoreBest}%" class="myxin2"></div></div></h5>
				<h5 class="color_6">导演：<span>{$movies.director}</span></h5>
				<h5 class="text_hidden color_6">主演：<span>{$movies.actor}</span></h5>
				<h5><div class="love"><span class="glyphicon glyphicon-heart-empty"></span>{if $movies.hot > $movies.hot_planCount} {$movies.hot} {else} {$movies.hot_planCount} {/if}</div></h5>
			</div>
		</div>
	</div>
	<!-- movieinfo end -->
	
	<!-- cinemalist start -->
	<div class="container liebiao">
		<div class="row">
			
			<!-- tab start -->
			<ul id="myTab" class="nav" style="border-bottom: 5px solid #DFDFDF;">
				<li class="active col-xs-6 text-center">
					<h5><a href="#goupiao" data-toggle="tab">快速购票 </a></h5>
				</li>
				<li class="col-xs-6 text-center">
					<h5><a href="#xiangqing" data-toggle="tab">影片详情</a></h5>
				</li>
			</ul>
			<!-- tab end -->
			
			
			<div id="myTabContent" class="tab-content">
				
				<!-- cinemalist start -->
				<div class="tab-pane fade in active" id="goupiao">				
					{foreach from=$cinemas item=cinema key=keys}
					<div class="col-xs-12 border-5 tab-action" style="border-bottom:1px solid #dfdfdf;">
						<a data-toggle="collapse" href="#collapse{$keys}" aria-controls="collapse{$keys}">
							<h5 class="padding_5_5">{$cinema.districtName}<span class="glyphicon glyphicon-menu-right pull-right"></span></h5>
						</a>
						<div id="collapse{$keys}" class="panel-collapse collapse">
							{foreach from=$cinema.cinema item=cinemaname}
   							<div class="panel-body border-6" style="border-top:1px solid #dfdfdf;" onclick="location.href='cinema.php?step=planCinema&movieid={$movies.movieId}&cinemaid={$cinemaname.cinemaId}'">
   								<div class="col-xs-8">
   									<h5>{$cinemaname.cinemaName}</h5>
   									<h5 class="text_hidden color_9">{$cinemaname.cinemaAddress}</h5>
   								</div>
   								<div class="col-xs-4">
   									<span>选座购票</span>
   								</div>
   							</div>
    						{/foreach}	
						</div>
					</div>
					{foreachelse}
					<center style="height:150px; line-height:150px;">此影片暂无排期的影院</center>
					{/foreach}	
					
								
				</div>
				<!-- cinemalist end -->
				
				<!-- movieDetail start -->
				<div class="tab-pane fade" id="xiangqing">
					<div class="col-xs-12">
						<h5 class="padding_10_5 border-2" style="padding: 0 0 10px 0">影片信息</h5>
						<h5><span class="color_9">类型：</span><span>{$movies.movieType}</span></h5>
						<h5><span class="color_9">时长：</span><span>{$movies.movieLength}</span>分钟</h5>
						<h5><span class="color_9">上映：</span><span>{$movies.publishTime}</span></h5>
						<h5 class="padding_10_5 border-2" style="padding: 10px 0 10px 0;">剧情介绍</h5>
						<h5 style="line-height: 1.5;" class="padding_10_5">{$movies.intro}</h5>
					</div>
				</div>
				<!-- movieDetail end -->				

			</div>
		</div>
	</div>
	<!-- cinemalist end -->
	
</div>

<script>
	
	$('.tab-action').click(function(){
		var collapse = $(this).find('.collapse');
		var glyphicon = $(this).find('.glyphicon');
		if(!collapse.hasClass('in')){
			glyphicon.removeClass('glyphicon-menu-right').addClass('glyphicon-menu-down');
		}else{
			glyphicon.removeClass('glyphicon-menu-down').addClass('glyphicon-menu-right');
		}
	});

</script>

</body>
</html>