<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>修改密码</title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script type="text/javascript" src="js/messageJs.js"></script>
	<script src="js/loadAjax.js"></script>
	<script type="text/javascript" src="js/user.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	{insert_scripts files='utils.js'}
    <script type="text/javascript">
    {foreach from=$lang.profile_js item=item key=key}
      var {$key} = "{$item}";
    {/foreach}
    </script>
	<form name="formPassword" id="formPassword" action="user.php" method="post">
		<div class=" container">
			<div class="mobile_logo">
				<img src="/mobile/images/mobile_logo.png" alt="聚优福利">
			</div>
			<div class="row-style1">
				<div  style="height: 0.5rem;background-color: #efeff4"></div>
				<div class="box">
					{if $is_login eq 1}
					<div class="input-box underline">
						<input type="text" name="user_name" placeholder="卡号" />
					</div>
					{/if}
					<div class="input-box">
						<input type="password" name="old_password" placeholder="原密码" />
					</div>
				</div>
			</div>
			<div class="row-style1">
				<div  style="height: 0.5rem;background-color: #efeff4"></div>
				<div class="box">
					<div class="input-box underline">
						<input type="password" name="new_password" placeholder="新密码" />
					</div>
					<div class="input-box">
						<input type="password" name="comfirm_password" placeholder="确认密码" />
					</div>
				</div>

			</div>
		</div>
		<input type="hidden" name="is_login" value="{$is_login}">
		<a href="javascript:void(0)" class="btn charge_btn">确认</a>
	</form>
<script type="text/javascript">
	function editPassword()
	{
		var frm              = document.forms['formPassword'];
		var old_password     = frm.elements['old_password'].value;
		var new_password     = frm.elements['new_password'].value;
		var confirm_password = frm.elements['comfirm_password'].value;
		var user_name 	   = $('input[name=user_name]').val();
		var is_login 	   	   = frm.elements['is_login'].value;


		var msg = '';
		var reg = null;

		if(is_login == 0){
			if(user_name.length == 0){
				message.messageAlert('卡号不能为空');
				return false;
			}
		}
		if (old_password.length == 0)
		{
			message.messageAlert(old_password_empty);
			return false;
		}

		if (new_password.length == 0)
		{
			message.messageAlert(new_password_empty);
			return false;
		}

		if (confirm_password.length == 0)
		{
			message.messageAlert(confirm_password_empty);
			return false;
		}

		if (new_password.length > 0 && confirm_password.length > 0)
		{
			if (new_password != confirm_password)
			{
				message.messageAlert(both_password_error);
				return false;
			}
		}

		$.post('user.php', {act:'act_edit_password', 'old_password': old_password, 'new_password': new_password, 'user_name':user_name}, function (result){
			if (result == 'success'){
				location.href='user.php?act=login';
			}else{
				message.messageAlert(result);
			}
			return false;
		});
		return false;

	}
</script>
	<script type="text/javascript">
		$(function () {
			$('.charge_btn').click(function(){

				var res = editPassword();
				if(res){
					$('#formPassword').submit();
				}
			})
		})
	</script>
</body>
</html>