<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title>華影文化</title>
	<script src="/mobile/js/jquery-1.9.1.min.js"></script>	
	<script src="/mobile/js/layer/layer.js"></script>
	<script src="/mobile/js/loadAjax.js"></script>
	<script src="/mobile/js/bootstrap.min.js"></script>
	
	<link href="/mobile/js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/mobile/css/bootstrap.min.css">
	<link rel="stylesheet" href="/mobile/css/fd.css">
	<link rel="stylesheet" href="/mobile/css/main.css">
	<style type="text/css">
			body{ background:#fff;}
			.container{
				margin-top: 10vh;
			}
		</style>	
</head>

<body>
<div class="container text-center">

			
			
</div>
	<script>	
	
	function jsApiCall()
	{
		WeixinJSBridge.invoke(
			'getBrandWCPayRequest',
			{$params},
			function(res){
				WeixinJSBridge.log(res.err_msg);
				if(res.err_msg == "get_brand_wcpay_request:ok"){
					var title = '由于微信充值存在一定延迟，您充值的点数将在两分钟内到账！';
					$('.container').html('<span style="font-size:40px; color: green;" class="glyphicon glyphicon-ok "></span><p style="color: forestgreen;">支付成功</p><p style="padding:0 20px; line-height: 2;">'+title+'</p><button type="button" class="btn btn-success" onclick="window.location.href=\'/mobile/user.php?act=account_deposit\'">继续充值</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" onclick="window.location.href=\'/mobile/index.php\'">返回首页</button>');
				}else if(res.err_msg == "get_brand_wcpay_request:cancel" || res.err_msg == "get_brand_wcpay_request:fail"){
					var title = '请您点击下面按钮继续操作';
					$('.container').html('<span style="font-size:40px; color: darkred;" class="glyphicon glyphicon-remove "></span><p style="color: darkred;">支付失败</p><p style="padding:0 20px; line-height: 2;">'+title+'</p><button type="button" class="btn btn-success" onclick="window.location.href=\'/mobile/user.php?act=account_deposit\'">继续充值</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-success" onclick="window.location.href=\'/mobile/index.php\'">返回首页</button>');
				}				
			}
		);
	}

	function callpay()
	{
		if (typeof WeixinJSBridge == "undefined"){
		    if( document.addEventListener ){
		        document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
		    }else if (document.attachEvent){
		        document.attachEvent('WeixinJSBridgeReady', jsApiCall); 
		        document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
		    }
		}else{
		    jsApiCall();
		}
	}
	
	callpay();
	</script>
	
</body>
</html>