.Wdate{
	border:#d4d4d4 1px solid;
	height:30px; padding-right:4px;
	background:#fff url(wy_date.jpg) no-repeat 85px; color:#8d8d8d; line-height:30px; padding-left:7px; width:101px; margin-left:20px; display:inline; float:left;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}