<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
{if $moviePlan}
	{foreach from=$moviePlan item=plan}
	<div class="xuanzuo border-2"  {if $plan.is_cut eq 0} onclick="location.href='cinema.php?step=cinemaSeats&hallno={$plan.hallNo}&planid={$plan.planId}&movieid={$plan.movieId}&cinemaid={$plan.cinemaId}'"{/if}>
		<div class="col-xs-3">
			<h4 class="line-39">{$plan.time}</h4>
		</div>
		<div class="col-xs-3 color_9">
			<h5>{$plan.screenType}/{$plan.language}</h5>
			<h5>{$plan.hallName}</h5>
		</div>
		<div class="col-xs-3 color_orange">
			<h5 class="line-39">{$plan.price}</h5>
		</div>
		<div class="col-xs-3">
		{if $plan.is_cut eq 1}
			<h5 class="line-39" style="border: 1px dashed #FE6902; border-radius: 5px;">已过场</h5>
		{else}
			<h5 class="line-39 btn_xuanzuo">选座购票 </h5>
		{/if}
		</div>
	</div>
	{/foreach}
{else}
<div class="xuanzuo">
	<center style="height:150px; line-height:150px;">当前日期没有可选的排期</center>
</div>
{/if}
</body>
</html>