<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/fd.css">	
		<link rel="stylesheet" href="css/main.css">
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>	
		<style type="text/css">
			p{font-size: 12px;}
		</style>
	</head>
	<body>
		<div class="container header-color header-height">
			<div class="row">
				<div class="col-xs-2">
					<a href="user.php"><span class="glyphicon glyphicon-menu-left tubiao"><img src="/mobile/images/img/logo1.png"></span></a>
				</div>
				<div class="col-xs-8 text-center">
					<h4 style="white-space: nowrap;text-overflow: ellipsis;">关于配送</h4></div>
				<div class="col-xs-2">
					<a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-menu-hamburger icon_more"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
						<li>
							<a tabindex="-1" href="index.php">首页</a>
						</li>
						<li>
							<a tabindex="-1" href="user.php">个人中心</a>
						</li>
						<li>
							<a tabindex="-1" href="user.php?act=logout">退出</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="about_peisong col-xs-12">
			<b>关于配送</b>
			<b>水果，蔬菜，禽肉，海鲜，五谷杂粮</b>
			<p>1、配送运费：每笔订单满100点包邮，不满100点收取10个点的运费；</p>
			<p>2、配送范围：北京市六环以内配送。其他城市正在开通中。</p>
			<b>蛋糕</b>
			<p>1、配送时间：北京地区提前8小时预定，外地城市提前24小时预定</p>
			<p>2、北京地区6环内免费配送（部分六环地址不配送）</p>
			<b>演出票</b>
			<p>1、配送时间：演出票订单在演出前3天内订购仅支持上门自取；</p>
			<p>2、配送运费：每笔订单购票额大于200点且配送地址在5环内免费送票；每笔订单购票额小于200点且配送地址在5环内送票加收10个点的运费；5环至6环之间每次加收15点运费；6环外及其他郊区每次加收10-30点运费；</p>
			<p>3、北京演出票自取地址：北京市东直门外大街东方银座A17C</p>
			<b>厨房用品，家纺用品，家用电器等生活用品</b>
			<p>北京地区收取5个点的运费，外地城市收取10个点的运费</p>
		</div>
	</body>

</html>