<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title></title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script src="js/loadAjax.js"></script>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">
	<link rel="stylesheet" href="css/main.css">
	<style type="text/css">
			label{	width: 100%; color:#80C08F; border:1px #80C08F solid;	}
			input{	display: none;	}
			.point .col-xs-6, .pay .col-xs-4{	text-align: center;	}
			.active{ color:#FF8287; border:1px #FF8287 solid;}
			.input-group-addon{  background-color: #d9534f; color:#fff; border:1px #d9534f solid;}
			
		</style>
</head>

<body>
{$header}
<div class="container point" style="margin-bottom:10px">
	<div class="row">
		<div class="col-xs-12"><h5>充值的卡：{$username}</h5></div>
	</div>
</div>
<div class="container point">
	<div class="row">
		<div class="col-xs-12">
			<h5>充值点数</h5>
		</div>		
		{foreach from=$priceList item=pl key=pk name=price}
		<div class="col-xs-6 click">
			<label>
				<h5 data-price={$pl}>{$pk}点 (售价{$pl}元)</h5>
			</label>
		</div>
		{/foreach}		
	</div>
</div>
<div class="container point pay">
	<div class="row">
		<div class="col-xs-12">
			<h5>支付方式</h5>
		</div>
		<div class="col-xs-4 click">			
			<label class="active"><h5 data-pay="4">微信支付</h5></label>
		</div>
		<div class="col-xs-4 click">			
			<label><h5 data-pay="3">支付宝</h5></label>
		</div>
	</div>
</div>
<div style="text-align: center;margin-top: 30px;">
	<button class="btn btn-danger act-pay" style="width: 70%;">确认充值</button>
</div>
<div class="col-xs-12">
	 	<p style="color: red;">温馨提示：</p>
	 	<p style="color: red;">1、充值30点或50点延期3个月，充值100点延期1年；</p>
	 	<p style="color: red;">2、卡过期前3个月至卡过期6个月内充值可延期； </p>
	 	<p style="color: red;">3、充值有效期延期以卡截止有效期开始计算延期并非是充值日期；</p>
	 	<p style="color: red;">4、充值延期规则适用于‘999011’和‘999013’开头的卡，其他暂不支持；</p>
	 </div>   
<script>

	// 选择
	$('.point .click').click(function(){		
		$(this).closest('.point').find('.click').each(function(index, dom){
			$(dom).find('label').removeClass('active');
		});
		$(this).find('label').addClass('active');
		
	});
	// 支付
	$('.act-pay').click(function(){
		
		var amount = $('.point .active').find('h5').attr('data-price');
		var pay	  = $('.pay .active').find('h5').attr('data-pay');
		if(typeof(amount) == 'undefined'){
			loadMsg('请选择充值点数');
			return false;
		}
		
	
		$(this).loadAjax('user.php?act=act_account',{amount:amount, rec_id:0, surplus_type:0, payment_id:pay}, function( info ){
			var data = jQuery.parseJSON(info);
			if(data.error > 0){
				loadMsg(data.message);
			}else{
				//alert(data.href);
				window.location.href = data.href;				
			}
		});
		
		
		
	});
</script>
</body>
</html>