<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">	
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">	
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script src="js/loadAjax.js"></script>
	<link href="js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
	{insert_scripts files='utils.js,jquery.shoppingflow.js'}
	<style>
		.shouhuo{ margin-right: 10px;}
		.border .row{border-bottom: 1px solid #ccc;}
		.border .col-xs-1 span{font-size: 18px;line-height: 60px;}
	</style>
</head>

<body>

{$header}

<div class="container border">
	{foreach from=$consignee_list item=consignee}
	<div class="row">
		<div class="col-xs-11" onclick="window.location.href='user.php?act=edit_address&id={$consignee.address_id}'">
			<h5><span class="shouhuo">{$consignee.consignee|escape}</span><span>{$consignee.mobile|escape}</span></h5>
			<h5><span class="shouhuo">{$consignee.country_cn} </span><span> {$consignee.province_cn} {$consignee.city_cn} {$consignee.district_cn} {$consignee.address|escape}</span></h5>	
		</div>
		<div class="col-xs-1">
			<span class="glyphicon glyphicon-trash center-block" data-id="{$consignee.address_id}"></span>
		</div>
	</div>
	{foreachelse}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 padding-1">
				<img src="/mobile/images/img/dizhi.png" class="img-responsive center-block">
				<h5 class="text-center" style="color: #BFBBBA; font-weight: 600;">您还没有收货地址</h5>	
			</div>
		</div>
	</div>
	{/foreach}
</div>
<script type="text/javascript">

$('.center-block').click(function(){	
	var rec_id = $(this).attr('data-id');
	layer.confirm('确定要删除吗！', {icon:7,title:false},function(index){
		dropConsignee(rec_id,'user')
	});
});

</script>
</body>
</html>