<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title></title>
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/swiper-3.2.7.jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/layer/layer.js"></script>
	<script src="js/loadAjax.js"></script>
	
	<link href="js/layer/skin/layer.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/swiper-3.2.7.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">	
    <link rel="stylesheet" href="css/main.css">
    
</head>
<body>
{if $act eq 'payinfoDzq'}
<style>
.margin_3 { margin-bottom: 1px;}
</style>
<!-- header start -->
{$header}
<!-- header end -->
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-6">
			<h5><img src="/mobile/images/img/zuokaquan.png" width="130px"></h5>
		</div>
		<div class="col-xs-6">
			<h5 class="text-right color_red font-1" style="line-height: 32px; font-size:18px; font-weight:500;"><span>{$order.order_amount}</span> 点</h5>
		</div>
	</div>
</div>
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-12">
			<h5>类型：<span class="text_hidden">{$order.TicketName}</span></h5>
		</div>
	</div>
</div>
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-12">
			<h5>有效期： <span>{$order.TicketYXQ}</span></h5>
		</div>
	</div>
</div>
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-12">
			<h5>单价：<span>{$order.sjprice}</span>点</h5>
		</div>
	</div>
</div>
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-12">
			<h5>数量：<span>{$order.number}</span></h5>
		</div>
	</div>
</div>
<div class="container margin_3">
	<div class="row ">
		<div class="col-xs-12">
			<h5>手机：<span>{$order.mobile}</span></h5>
		</div>
	</div>
</div>
<div class="container margin_4" style="margin-top:10px;">
	<div class="row">
		<div class="col-xs-12">
			<h5>華影卡号：<span>{$username}</span></h5>
			<h5 style="text-indent: 26px;">密码：
				<div class="form-group" style="display: inline-block; margin-bottom: 0;">
				    <input type="password" name="password" class="form-control" placeholder="请输入密码">
				 </div>
			</h5>
		</div>
	</div>
</div>
<!--确认支付-->
<div class="pay_1"> 
	<h5 class="payAction">确认支付</h5>
	<input type="hidden" name="order_id" value="{$order.order_id}" />
</div>
	
<script>
$(document).ready(function(){
	// 电子兑换券付款
	$('.payAction').click( function(){
		var order_id = $('input[name=order_id]').val();
		var password = $('input[name=password]').val();
		$(this).loadAjax('cinema_order.php?act=doneDzq', {order_id:order_id,password:password},function(data){
			var obj = jQuery.parseJSON(data);
			if(obj.error > 0){						
				loadMsg(obj.message);
			}else{
				loadMsg('支付成功',function(){
					window.location.href='user.php?act=dzq_order';
				})				
			}
		});		
	});	
});
</script>

{/if}



{if $act eq 'payinfoMovie'}
	<style>
		.font-1 {font-weight:500;}
		.border-5{ border-bottom: 1px solid #dfdfdf;}
		.jishi h5{margin:5px 0;}
	</style>
	<!-- header start -->
	{$header}
	<!-- header end -->
	
	<ol id="crumbs" class="margin_1">
		<li>1.选择场次</li>
		<li>2.选择座位</li>
		<li class="selected">3.确认支付</li>
		<li>4.取票观影</li>
	</ol>
	
	<div class="jishi">
		<h5>请在 <span class="color_ff6801 font-1" id="times">14分59秒</span> 内完成支付</h5>
	</div>
	
	<h5 class="font-1 padding_5_5" style="margin:5px 0;">影片信息：</h5>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 border-5 padding_5_10">
				<h4 class="color_red ">总价：<span>{$order.money}</span>点</h4>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>影院：&nbsp;&nbsp; <span>{$order.cinema_name}</span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>电影：&nbsp;&nbsp; <span>{$order.movie_name}</span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>场次：&nbsp;&nbsp; <span> {$order.featuretime} </span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>版本：&nbsp;&nbsp; <span>{$order.language}/{$order.screen_type}</span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>厅号：&nbsp;&nbsp; <span>{$order.hall_name}</span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>座位：&nbsp;&nbsp; <span>{$order.seat_info}</span></h5>
			</div>
			<div class="col-xs-12 border-5 padding_5_10">
				<h5>手机号： &nbsp;&nbsp;<span>{$order.mobile}</span></h5>
			</div>
		</div>
	</div>
	
	<div class="container margin_4" style="margin-top:10px;">
		<div class="row">
			<div class="col-xs-12">
				<h5>華影卡号：<span>{$username}</span></h5>
				<h5 style="text-indent: 26px;">密码：
					<div class="form-group" style="display: inline-block; margin-bottom: 0;">
					    <input type="password" class="form-control" id="password" placeholder="密码">
					 </div>
				</h5>
			</div>
		</div>
	</div>
	
	
	<div class="text-center padding_5_10">
		<h5 class="font-1" style="line-height: 1.5; font-size:13px; color:red;">提示：请确认购票信息再支付，电影票一经售出不予退换</h5>
	</div>
	<!--确认支付-->
	<div class="pay_1">
		<input type="hidden" name="order_id" id="orderid" value="{$order.id}" />
		<h5 class="act-pays">确认支付</h5>
	</div>
	
	<script>
	$(document).ready(function(){
		
		
		// 支付倒计时
		countDown('{$endPayTime}', 'times');
		
		function countDown(time, htmlId){
			var end_time   = new Date(time).getTime(),//月份是实际月份-1
				sys_second = (end_time - new Date().getTime()) / 1000;		
			var timer = setInterval(function(){
				if (sys_second > 1) {
					//sys_second -= 0.1;
					sys_second -= 1;
					var day     = Math.floor((sys_second / 3600) / 24);
					var hour    = Math.floor((sys_second / 3600) % 24);
					var minute  = Math.floor((sys_second / 60) % 60);
					var second  = Math.floor(sys_second % 60);
					//var msecond = Math.floor(sys_second * 10) % 10;

					hour    = hour < 10 ? "0" + hour : hour;//计算小时
					minute  = minute < 10 ? "0" + minute : minute;//计算分
					second  = second < 10 ? "0" + second : second;// 计算秒

					document.getElementById(htmlId).innerHTML = (minute ? minute + '分' : '') + second + '秒';
				} else {
					clearInterval(timer);
					delOrder();//未在规定时间内完成支付删除订单
					
				}
			}, 1000);
		}
		
		function delOrder(){
			var orderid = '{$order.id}';
			$.get('cinema_order.php', {act:'delorder', 'order_id':orderid}, function (result){				
				alert('抱歉，您未在规定时间内完成支付，该订单已删除！');
				window.location.href="cinema.php"
			});
		}
		
		/* 支付操作 */
		$('.act-pays').click(function(){
			var password = $('#password').val();
			var orderid = $('#orderid').val();
			if(jQuery.isEmptyObject(password)){
				loadMsg('手机号不能为空');
			}
			if(jQuery.isEmptyObject(orderid)){
				loadMsg('这不是一个有效的订单');
			}
			$(this).loadAjax('cinema_order.php?act=doneMovie',{order_id:orderid, password:password}, function( info ){
				var data = jQuery.parseJSON(info);
				if(data.error > 0){
					loadMsg(data.message);
				}else{
					loadMsg('支付成功',function(){ 
						location.href="user.php?act=film_order";
					})
				}
			});
		});
		
		
	});
	
	</script>		
{/if}
	
	
</body>
</html>