<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">	
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/user.js"></script>	
</head>
<body>

<p class="tiao_t1" style="padding-top:20px;text-align: center;">{$message.content}</p>
<p class="tiao_t1" style="margin-top:15px;text-align: center;">
{if $message.url_info}
{foreach from=$message.url_info key=info item=url}
<a href="{$url}">{$info}</a>&nbsp;&nbsp;&nbsp;
{/foreach}
{/if}
</p>
</body>
</html>