<!DOCTYPE html>
<html>	
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fd.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="js/jquery-1.9.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>

{$header}

<div class="container city">
{foreach from=$citys item=city key=key name=city}
	<div class="row">
		{if $key eq 'hot'}
			<div class="col-xs-12" style="background-color:rgb(223, 223, 223);">
			    <h5>热门地区</h5>
			</div>
			{foreach from=$city item=c}
			<div class="col-xs-12">
				<a href="index.php?cityid={$c.region_id}"><h5>{$c.region_name}</h5></a>
			</div>
			{/foreach}
		{else}
			{foreach from=$city item=c key=k name=c}
			<div class="col-xs-12" style="background-color:rgb(223, 223, 223);">
			    <h5>{$k}</h5>
			</div>
			{foreach from=$c item=item}
			<div class="col-xs-12">
				<a href="index.php?cityid={$item.region_id}"><h5>{$item.region_name}</h5></a>
			</div>
			{/foreach}
			{/foreach}
		{/if}
	</div>
{/foreach}
</div>		
{$get_fixed}

</body>
</html>