{include file="pageheader.htm"}
<div class="main-div">
<form action="bonus.php?act=upload" method="post" enctype="multipart/form-data" name="theForm" onsubmit="return formValidate()">
<table cellspacing="1" cellpadding="3" width="100%">
	<input type="hidden" name="tid" value="{$tid}" />
  <tr>
    <td class="label">
      上传批量csv文件
		<td><input name="file" type="file" size="40">
		<br />
      <span class="notice-span">（CSV文件中一次上传商品数量最好不要超过1000，CSV文件大小最好不要超过500K.）</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><a href="/data/bonus_list.csv" target="_blank">下载批量CSV文件（简体中文）</a></td>
  </tr>
  <tr align="center">
    <td colspan="2"><input name="submit" type="submit" id="submit" value="{$lang.button_submit}" class="button" /></td>
  </tr>
</table>
</form>
<table width="100%">
  <tr>
    <td>&nbsp;</td>
    <td width="80%">{$lang.use_help}</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{include file="pagefooter.htm"}