<!-- $Id: brand_info.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/transport.js,../js/region.js"}

<div class="main-div">
<form method="post" action="card_rule.php" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">说明：</td>
    <td><input type="text" name="title" value="{$cardinfo.title}" /></td>
  </tr>
  <tr>
    <td class="label">卡号：</td>
    <td>
	<input  name="file" type="FILE" style="width:180px;border:0;"/>(文件不能超过2m.如果超过,可以多次导入)</td>
  </tr>
  <tr>
    <td class="label">城市hom页内容：</td>
    <td>{$FCKeditor}</td>
  </tr>
  <tr>
    <td class="label">卡类型：</td>
    <td>
    	<input type="radio" name="type" value="1" {if $cardinfo.type eq 1}checked{/if}> 文化卡
    	<input type="radio" name="type" value="2" {if $cardinfo.type eq 2}checked{/if}> 生日卡
    	<input type="radio" name="type" value="3" {if $cardinfo.type eq 3}checked{/if}> 生活卡
    	<input type="radio" name="type" value="4" {if $cardinfo.type eq 4}checked{/if}> 运动卡
    	<input type="radio" name="type" value="5" {if $cardinfo.type eq 5}checked{/if}> 通卡
    </td>
  </tr>
  
  <tr>
    <td class="label">商城售价策略：</td>
    <td>
    	<input type="radio" name="ext" value="1" {if $cardinfo.ext eq 1}checked{/if}> 1.19公式
    	<input type="radio" name="ext" value="2" {if $cardinfo.ext eq 2}checked{/if}> 0.97公式
    	&nbsp;&nbsp;<font color=red> 两种公式都是由添加供应商的设置的的，商城比例(1.19)、商城比例(0.97)</font>
    </td>
  </tr>

  <tr>
    <td class="label">实际卡售价：</td>
    <td><input type="text" name="price" value="{$cardinfo.price}" /> 元</td>
  </tr>
  
  <tr>
    <td class="label">上调浮比：</td>
    <td><input type="text" name="raise" value="{$cardinfo.raise}" /> 售价 = 市场价 x（商城售比 + 浮比）x 卡规则 x 单品 </td>
  </tr>
  
  <tr>
    <td class="label">折扣调整：</td>
    <td><input type="checkbox" name="zhekou" value="1" {if $cardinfo.zhekou} checked ='checked' {/if}/><br/></td>
  </tr> 
     <tr>
    <td class="label">商品调整：</td>
    <td><input type="checkbox" name="shop" value="1" {if $cardinfo.shop} checked ='checked' {/if}/><br/></td>
  </tr> 
 
  <tr>
    <td class="label">支付比例：</td>
    <td><input type="text" name="pay_than" value="{$cardinfo.pay_than}" /> 会员中心 => 卡充值的时候用于计算需要支付的金额。</td>
  </tr> 
  
  <tr>
    <td class="label">城市导航设置：<br/><span style="color:#666;line-height:2em;">不设置该项表示该城市默认显示系统导航</span></td>
    <td>
		<table width="100%" id="nav_setting">
			{foreach from=$cardinfo.navinfo item=setting name=setting key=key0}			
			<tr>
				<td align="left" valign="top">
					{if $smarty.foreach.setting.iteration eq 1}
					<a href="javascript:;" onclick="addNavSetting(this)" style="float:left;">[+]</a>
					{else}
					<a href="javascript:;" onclick="removeNavSetting(this)" style="float:left;">[−]</a>
					{/if}
				<!-- </div> -->
					<div style="clear:both;"></div>
					<table style="float:left;width:90%;border:none;" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td valign="top" width="50" style="border-bottom:1px solid #ccc;">导航</td>
							<td valign="top" width="110" style="border-bottom:1px solid #ccc;">
								<select id="nav_id_{$smarty.foreach.setting.index}" name="nav_id[{$smarty.foreach.setting.index}]" style="width:100px;">
									<option value="0">请选择</option>
									{foreach from=$navlist item=nav key=key1}
									<option value="{$nav.id}"{if $nav.id == $setting.nav_id} selected{/if}>{$nav.name}</option>
									{/foreach}
								</select>
								<br><br>
								<div style="position:relative;">
									<span style="position:absolute; top:3px; left:-55px;">商城比例：</span>
									<span><input type="text" name="shop_ratio[{$smarty.foreach.setting.index}]" size="10" value="{$setting.shop_ratio}"></span>
								</div>
															
							</td>
							<td valign="top" width="60" style="border-bottom:1px solid #ccc;">
								<label><input type="checkbox" name="checkall" value="" onclick="checkAreaAll(this,{$key0})" />区域</label>：

							   <br>
								<span id="checkshow_{$key0}" onclick="checkshow({$key0});">【展开】</span>
							
								<span id="checkhidden_{$key0}" onclick="checkhidden({$key0});" style="display:none;">【收起】</span>
								</td>
							<td valign="top" style="border-bottom:1px solid #ccc;">
								{foreach from=$region_list item=region key=key2}

								{if $key2>19}
								<div id="check_{$key0}_{$key2}" style="width:80px; display:inline-block;height:20px;line-height:20px;overflow:hidden;display:none;">
								<label style="width:80px; display:inline-block;height:20px;line-height:20px;overflow:hidden;" title="{$region.region_name}">
								<input type="checkbox" name="region[{$smarty.foreach.setting.index}][]" value="{$region.region_id}" {$setting.check[$region.region_id]} />
								{$region.region_name}</label></div>
								{else}
								<label style="width:80px; display:inline-block;height:20px;line-height:20px;overflow:hidden;" title="{$region.region_name}">
								<input type="checkbox" name="region[{$smarty.foreach.setting.index}][]" value="{$region.region_id}" {$setting.check[$region.region_id]} />
								{$region.region_name}</label>
								{/if}
								{/foreach}
							</td>
						</tr>
					</table>
				</td>
			</tr>
			{/foreach}
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="2" align="center"><br />
      <input type="submit" class="button" value="{$lang.button_submit}" />
      <input type="reset" class="button" value="{$lang.button_reset}" />
      <input type="hidden" name="act" value="update" />
      <input type="hidden" name="id" value="{$cardinfo.id}" />
    </td>
  </tr>
</table>
</form>
</div>
{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
<!--
region.isAdmin = true;

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}


function addNavSetting(obj){
	var src      = obj.parentNode.parentNode;
	var tbl      = document.getElementById('nav_setting');
	var rowl = tbl.rows.length;
	var validator  = new Validator('theForm');
	/*checkGoodsSnData("0", validator, rowl);
	if (!validator.passed()){
		return false;
	}*/
	var row  = tbl.insertRow(tbl.rows.length);
	var cell = row.insertCell(-1);
	cell.align = 'center';

	cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addNavSetting)(.*)(\[\+\])([\s\S]*?)(nav_id\[\d*\])/igm, "$1removeNavSetting$3\[−\]$5nav_id\["+rowl+"\]");
	cell.innerHTML = cell.innerHTML.replace(/<select(.*)(nav_id_\d*)/gi, "<select$1nav_id_"+rowl+"");
	cell.innerHTML = cell.innerHTML.replace(/<input(.*)(checkAreaAll\(\w+\,\d*\))/gi, "<input$1checkAreaAll(this,"+rowl+")");
	//cell.innerHTML = cell.innerHTML.replace(/<input(.*)(region\[\d*\])/igm, "<input$1region["+rowl+"]");
	//cell.innerHTML = cell.innerHTML = cell.innerHTML.replace(/region\[\d*\]/ig,'region['+rowl+']');
	//清空新增加导航的值
	var objSelect = document.getElementById('nav_id_'+rowl);
	objSelect.selectedIndex = 0;

	var checkall  = document.getElementsByName("checkall");
	checkall[rowl].checked = false;

	//清空新增加地区的值
	var region_list  = document.getElementsByName("region["+(rowl)+"][]");
	for (var i=0; i<region_list.length; i++){
		region_list[i].checked = false;
	}
}

/**
* 鍒犻櫎浼樻儬浠锋牸
*/
function removeNavSetting(obj)
{
var row = rowindex(obj.parentNode.parentNode);
var tbl = document.getElementById('nav_setting');

tbl.deleteRow(row);
}

/**
 * 检查表单输入的数据
 */
function validate()
{
	if(document.getElementById("radio").checked) {
		
		
	}
}

function checkAreaAll(obj,sn){
	var obj_c = document.getElementsByName('region['+sn+'][]')
	for(var i=0; i<obj_c.length; i++){
		obj_c[i].checked = obj.checked;
	}
}
function checkshow(key)
{
	document.getElementById("checkshow_"+key).style.display="none";
	document.getElementById("checkhidden_"+key).style.display="block";
	// alert(key);
	for (var i=20; i<300; i++)
	  {
	 	check='check_'+key+"_"+i;
	 	document.getElementById(check).style.display="block";
	 	document.getElementById(check).style.display="inline-block";
 		// alert(check);
	  }
	  
}
function checkhidden(key)
{
	document.getElementById("checkhidden_"+key).style.display="none";
	document.getElementById("checkshow_"+key).style.display="block";
	for (var i=21; i<300; i++)
	  {
	 	check='check_'+key+"_"+i;
	 	document.getElementById(check).style.display="none";
 		// alert(check);
	  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}