{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/transport.js"}

<div class="form-div">
  <form action="javascript:search_card()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    <!-- 卡号：<input type="text" name="card" size="15" /> -->
    描述：<input type="text" name="title" size="15" />
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>

<form method="post" action="" name="listForm">
<!-- start brand list -->
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
      <th width="100px">描述</th>
      <th width="50%">卡规则</th>
      <th align="center">单价（元）</th>
	  <th align="center">是否开启home页</th>
	  <th align="center">折扣调整</th>
	  <th align="center">商品调整</th>
      <th width="220px">操作</th>
    </tr>
    {foreach from=$cardlist item=card}
    <tr>
      <td class="first-cell">{$card.title|escape:html}</td>
	  <td align="center">
		{if $card.navinfo}
		<table border="0" cellpadding="0" cellspacing="0" width="100%">
		<tr>
			<td width="10%"><b>导航</b></td>
		</tr><tr><td>
		{foreach from=$card.navinfo item=nav}
		
			
				{$nav.navName}&nbsp;&nbsp;&nbsp;
			
			
		
		{/foreach}
		</td>
		</tr>
		</table>
		{/if}
		<td align="center">{if $card.price}{$card.price}{else}0{/if}</td>
		<td align="center">
			<img src="images/{if $card.home_desc}yes{else}no{/if}.gif" />
		</td>
	  </td>
	  <td align="center"><img src="images/{if $card.zhekou}yes{else}no{/if}.gif" /></td>
	  <td align="center"><img src="images/{if $card.shop}yes{else}no{/if}.gif" /></td>
      <td align="center">
        <a href="card_rule.php?act=rule_out&id={$card.id}" title="规格排除设置">规格排除设置</a>‖
        <a href="card_rule.php?act=rule_ratio&id={$card.id}" title="商品折扣列表">商品折扣列表</a>‖
        <a href="card_rule.php?act=edit&id={$card.id}" title="{$lang.edit}">{$lang.edit}</a>‖
		<a href="card_rule.php?act=del&id={$card.id}" title="删除" onclick="return confirm('确定删除该号段规则？')">删除</a>
      </td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="7">{$lang.no_records}</td></tr>
    {/foreach}
    <tr>
      <td align="right" nowrap="true" colspan="7">
      {include file="page.htm"}
      </td>
    </tr>
  </table>

{if $full_page}
<!-- end brand list -->
</div>
</form>

<script type="text/javascript" language="javascript">
<!--
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{\/foreach}

{literal}
onload = function(){
	// 开始检查订单
	startCheckOrder();
}
{\/literal}
function search_card(){

	// listTable.filter['card'] = Utils.trim(document.forms['searchForm'].elements['card'].value);
	listTable.filter['title'] = document.forms['searchForm'].elements['title'].value;
	listTable.filter['page'] = 1;
	listTable.loadList();
}
//-->
</script>

{include file="pagefooter.htm"}
{/if}