{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,../js/region.js,../js/transport.js"}
<style>

td.label { width:100px; font-weight:500;}
.list-div{color:#666}
select,input{ border:1px #f0f0f0 solid; height:20px; line-height:20px; text-indent:10px; color:#999;}
select{height:25px; text-indent:0;}
.list-div th { text-align:left; text-indent:3em; line-height:30px; background:none; font-size:14px; border-bottom:1px #BBDDE5 solid; margin-buttom:10px;}
.cinema-name{margin-left:45px;}
.cinema-name,.cinema-address,.cinema-delete{ min-width:100px; max-width:500px; float:left; padding-right:20px; line-height:25px; line-height:25px;}
.cinema-name lable,.cinema-address lable{ width:70px; display:inline-block; text-align:right;}
.search-cinemas,.search-cinemas-add,.saveregion{border: 0px; cursor: pointer; height: 25px; background: red; text-align: center; color: #fff; text-indent: 0; width: 60px;}
.search-cinemas:hover,.search-cinemas-add:hover,.saveregion:hover{ opacity: 0.6; }
.search-cinemas-add{ background:sienna;}
.region-list-search{ border:1px bisque solid; height:50px;  line-height:50px; text-align:left;}
</style>
<div class="list-div">

  <table width="100%" id="general-table" style="border-spacing:0">
  	<tr>
  		<th colspan='2'>影院信息</th>
  	</tr>
  	<tr><td colspan='2'>&nbsp;</td></tr>
    <tr>
      <td  class="label" style="width:100px;">影院： </td>
      <td>
        <input type="text" name="cinema_name" value="{$cinema.cinema_name}" size="35" />        
      </td>
    </tr>
    <tr>
      <td  class="label" style="width:100px;">影院地址： </td>
      <td>
        <input type="text" name="cinema_address" value="{$cinema.cinema_address}" size="45" />        
      </td>
    </tr>
    <tr>
      <td  class="label" style="width:100px;">影院电话： </td>
      <td>
        <input type="text" name="cinema_tel" value="{$cinema.cinema_tel}" size="20" />        
      </td>
    </tr>
    <tr>
      <td  class="label" style="width:100px;">公交线路： </td>
      <td>
        <input type="text" name="drive_path" value="{$cinema.drive_path}" size="50" />        
      </td>
    </tr>
    <tr>
      <td  class="label" style="width:100px;" colspan="2">
      	<div class="region-list-search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;所在地区：
      		<select name="province" id="province" onchange="region.changed(this, 1, 'city')" class="Select16">
				<option value="0">请选择省份</option>
				{foreach from=$province_list item=province}
				<option value="{$province.region_id}" {if $cinema.region_id eq $province.region_id}selected{/if}>{$province.region_name}</option>
				{/foreach}
			</select>
			<select name="city" id="city" class="Select16">
				<option value="0">请选择城市</option>
				{foreach from=$city_list item=city}
				<option value="{$city.region_id}" {if $cinema.area_id eq $city.region_id}selected{/if}>{$city.region_name}</option>
				{/foreach}				
			</select>
			
			<input type="button" name="saveregion" onClick="saveRegion()" class="saveregion" value="保存"> <label> &nbsp;&nbsp;&nbsp;修改影院所在城市和地区！</label>
      	</div>
      </td>
    </tr>    
    <tr><td colspan='2'>&nbsp;</td></tr>
    
	<tr>
  		<th colspan='2'>支持的消费类型 （是否支持，在线选座、电子券、线下刷卡）</th>
  	</tr>
  	<tr><td colspan='2'>&nbsp;</td></tr>
  	{foreach from=$cinemas item=clist}
  	<tr>  		
      <td colspan="2">
        <div class="cinema-name"><lable>{$clist.typename}：</lable>{$clist.list.cinema_name}</div>
        <div class="cinema-address"><lable>地址：</lable>{$clist.list.cinema_address}</div>
        <div class="cinema-delete"><a href="cinema_list.php?act=cinemaState&cinema_id={$clist.type}-{$cinema.id}">删除</a></div>
        <input type="hidden" name="type[]" value="{$clist.type}">
      </td>	
  	</tr>
  	{foreachelse}
  	<tr>
  		<td colspan="2" align="center">此影院什么都不支持！</td>
  	</tr>
  	{/foreach}  	
    <tr><td colspan='2'>&nbsp;</td></tr>
  
    <tr>
  		<th colspan='2'>添加支持的消费类型（添加电子券、线下刷卡，如果在《支持的消费类型》已经存在，请先删除）</th>
  	</tr>
  	<tr><td colspan='2'>&nbsp;</td></tr>
  	<form action="cinema_list.php" method="post" name="theForm" onsubmit="return validate()">
  	<tr style="height:40px">
      <td  class="label" style="width:100px;">影院名称： </td>
      <td>
        <input type="text" name="cinema_key" placeholder="影院名称 '关键字'" size="30" />
        <select name="source">
        	<option value="0">在线选座</option>
        	<option value="1">电子券</option>
        	<option value="2">刷卡影院</option>
        </select>
        <input type="button" name="search-cinemas" value="搜索" class="search-cinemas" onClick="searchCinema()"> 
        <label>&nbsp;&nbsp; 模糊查找,<font color='red'>《如果选择在线选座，输入影院名称将无效，因为无论你输什么结果都是当前影院》</font></label>   
      </td>
    </tr>
    <tr style="height:40px">
      <td class="label" style="width:100px;">搜索结果： </td>
      <td>
      		<select name='search_cinema_name'><option value="0">--没有可选的影院--</option></select>
      </td>
    </tr>
    <tr>
      <td  class="label" style="width:100px;"> </td>
      <td> 
      	<input type="submit" name="search-cinemas" value="添加" class="search-cinemas-add"> 
      	<input type="hidden" name="act" value="update" />
        <input type="hidden" name="id" value="{$cinema.id}" />
      </td>
    </tr>
    <tr><td colspan='2'>&nbsp;</td></tr>
    <tr><td colspan='2'>&nbsp;</td></tr>
    </form>
    
 </table>

</div>
{insert_scripts files="../js/utils.js,validator.js"}
<script language="JavaScript">
  
  // 保存地区、地址
  function saveRegion(){
	var province = document.getElementById('province').value;
  	var city = document.getElementById('city').value;
  	var id = document.forms['theForm'].elements['id'].value;
  	
  	if(Utils.isEmpty( eval(province)) || Utils.isEmpty( eval(city))){
  		alert('没有选择城市或地区，请从新选择');
  		return false;
  	}
  	var args = 'act=saveRegion&province='+province+'&city='+city+'&id='+id;
  	Ajax.call('cinema_list.php?is_ajax=1', args, regionResult, "POST", "JSON");
  }
  
  function regionResult(result, txt){
	  if(result.error > 0){
		  alert( result.message);
	  }else{
		  alert( result.message);
		  window.location.href="cinema_list.php?act=edit&id={$cinema.id}";
	  }
  }
  // 搜索影院
  function searchCinema(){
	  var key = document.forms['theForm'].elements['cinema_key'].value;
	  var source = document.forms['theForm'].elements['source'].value;
	  var id = document.forms['theForm'].elements['id'].value;
	  
  	  if ( key == '' ){
  		  alert('影院关键字，不能为空！');
  		  var html = '<option value="0">--没有可选的影院--</option>';
  		  document.forms['theForm'].elements['search_cinema_name'].innerHTML = html;
		  return false;
  	  }
  	  
  	  var args = 'act=searchCinema&source='+source+'&key='+key+'&id='+id;
  	  Ajax.call('cinema_list.php?is_ajax=1', args, cinemaResult, "POST", "JSON");
  }
  // 处理影院结果
  function cinemaResult( result, txt ){
	  if(result.error > 0){
		  alert(result.message);
		  return false;
	  }
	  if(result.html){
		  document.forms['theForm'].elements['search_cinema_name'].innerHTML = result.html;
	  }else{
		  alert('没有所有到任何数据！');
		  var html = '<option value="0">--没有可选的影院--</option>';
  		  document.forms['theForm'].elements['search_cinema_name'].innerHTML = html;
		  return false;
	  }
  }
  
  region.isAdmin = true;
  
</script>
{include file="pagefooter.htm"}