{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,validator.js,listtable.js"}
<div class="main-div">
<form action="navigator.php" method="post" name="form" onSubmit="return checkForm();">
<table cellspacing="1" cellpadding="3" width="100%">
<tr>
    <td>上级分类</td> <td>
        <select  name="menulist" id="menulist">
            <option value=''>请选择</option>
            {foreach from=$sysmain item=val key=key}
                <option value='{$val.id}' {if ($rt.menulist ==$val.id)}selected{/if}>{$val.name}</option>
            {/foreach}
        </select>
    </td>
</tr>
<tr>
    <td>{$lang.item_name}</td> <td><input type="text" name="item_name" value="{$rt.item_name}" id="item_name" size="40" /></td>
</tr>
<tr>
    <td><a href="javascript:showNotice('notice_url');" title="{$lang.notice_url}"><img src="images/notice.gif" width="16" height="16" border="0" alt="{$lang.form_notice}">{$lang.item_url}</a></td> <td><input type="text" name="item_url" value="{$rt.item_url}" id="item_url" size="40"/></td>
</tr>
  <tr>
    <td></td>
    <td>
<span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="notice_url">{$lang.notice_url}</span></td>
  </tr>
<tr>
    <td>{$lang.item_vieworder}</td> <td><input type="text" name="item_vieworder" value="{$rt.item_vieworder}" size="40" /></td>
</tr>
<tr>
    <td>是否显示在首页</td> <td><select name="show_index">
  <option value='0' {$rt.show_index_0}>{$lang.no}</option><option value='1' {$rt.show_index_1}>{$lang.yes}</option>
  </select></td>
</tr>
<tr>
    <td>是否显示(手机端)</td> <td><select name="wap_show">
  <option value='0' {$rt.wap_show_0}>{$lang.no}</option><option value='1' {$rt.wap_show_1}>{$lang.yes}</option>
  </select></td>
</tr>

<tr>
    <td>{$lang.item_ifshow}</td> <td><select name="item_ifshow">
  <option value='1' {$rt.item_ifshow_1}>{$lang.yes}</option><option value='0' {$rt.item_ifshow_0}>{$lang.no}</option>
  </select></td>
</tr>

<tr>
    <td>{$lang.item_opennew}</td> <td><select name="item_opennew">
  <option value='0' {$rt.item_opennew_0}>{$lang.no}</option><option value='1' {$rt.item_opennew_1}>{$lang.yes}</option>
  </select></td>
</tr>
<tr>
    <td>{$lang.item_type}</td> <td><select name="item_type">
  <option value='top' {$rt.item_type_top}>{$lang.top}</option><option value='middle' {$rt.item_type_middle}>{$lang.middle}</option><option value='bottom' {$rt.item_type_bottom}>{$lang.bottom}</option>
  </select></td>
</tr>
<!-- <tr>
    <td>频道要求</td> <td><select name="is_channel">
  <option value='0' {$rt.item_ischannel_0}>默认</option>
  <option value='1' {$rt.item_ischannel_1}>特殊</option>
  </select></td>
</tr> -->
<tr>
  <td width="15%">选择地区</td> <td><input onclick='listTable.selectAll(this, "is_city")' type="checkbox" />全部
  
  {foreach from=$region_list item=region}
  <input type="checkbox" name="is_city[]" id="is_city[]" value="{$region.region_id}" 
  {if $region.nav_region}checked="{$region.nav_region}"{/if} />{$region.region_name}
  {/foreach}
  </td>
</tr>
<!-- <tbody id="areaSetting">
<tr>
    <td style="border-top:1px solid #9cacaf;"></td> <td style="border-top:1px solid #9cacaf;"></td>
</tr>
<tr>
    <td>该条件下是否显示</td> <td><select name="is_show">
  <option value='0' {$rt.item_isshow_0}>否</option>
  <option value='1' {$rt.item_isshow_1}>是</option>
  </select></td>
</tr>
<tr>
  <td valign="top" style="width:15%"><b>区域号段详细设置<b/><br/><font color=red>注：只有选择地区了此设置才生效</font></td>
  <td style="width:85%">
	<table width="100%" id="card_list_tab" style="border:none;">
		{foreach from=$card_list item=cardlist name="cardlist"}
		{foreach from=$cardlist.haod item=haod name=haod}
		<tr>
			<td align="left">
				{if $smarty.foreach.cardlist.iteration eq 1 && $smarty.foreach.haod.iteration eq 1}
				<a href="javascript:;" onclick="addcard(this)" style="float:left;">[+]</a>
				{else}
				<a href="javascript:;" onclick="removecard(this)" style="float:left;">[−]</a>
				{/if}
				<div style="float:left;width:80px;">
				<select name="hd_cityid[]" style="float:left; margin-left:5px; width:80px;">
					<option value="0">请选择</option>
					{foreach from=$region_list item=region}
					<option value="{$region.region_id}"{if $region.region_id == $cardlist.city_id} selected{/if}>{$region.region_name}</option>
					{/foreach}
				</select>
				</div>
				<div style="float:left; width:70%">
					<p style="float:left;width:100%;margin:2px; margin-top:0">
						<span style="float:left; margin-left:10px;line-height:20px;margin-right:5px;">显示号段</span>
						<input type="text" name="xs_card_start[]" size="30" value="{$haod[arr_xs][0]}" size="40" style="float:left;" />
						<span style="float:left; margin-left:5px;line-height:20px;margin-right:5px;"> ~~ </span>
						<input type="text" name="xs_card_end[]" size="30" value="{$haod[arr_xs][1]}" size="40" style="float:left;" />
					</p>
					<p style="float:left;width:100%;margin:2px;">
						<span style="float:left; margin-left:10px;line-height:20px;margin-right:5px;">隐藏号段</span>
						<input type="text" name="yc_card_start[]" size="30" value="{$haod[arr_yc][0]}" size="40" style="float:left;" />
						<span style="float:left; margin-left:5px;line-height:20px;margin-right:5px;"> ~~ </span>
						<input type="text" name="yc_card_end[]" size="30" value="{$haod[arr_yc][1]}" size="40" style="float:left;" />
					</p>
					<p style="float:left;width:100%;margin:2px;">
						<span style="float:left; margin-left:10px;line-height:20px;color:#999;">如果为一个号段，请前后都填写改号段值</span>
					</p>
				</div>
			</td>
		</tr>
		{/foreach}
		{/foreach}
	</table>
  </td>
</tr>
</tbody> -->
<tr align="center">
  <td colspan="2">
    <input type="hidden"  name="id"       value="{$rt.id}" />
    <input type="hidden"  name="step"       value="2" />
    <input type="hidden"  name="act"       value="{$rt.act}" />
    <input type="submit" class="button" name="Submit"       value="{$lang.button_submit}" />
  </td>
</tr>
</table>
</form>
</div>
<script type="Text/Javascript" language="JavaScript">
var last;
function add_main(key)
{
    var sysm = new Object;
    {foreach from=$sysmain item=val key=key}
      sysm[{$key}] = new Array();
        sysm[{$key}][0] = '{$val.0}';
        sysm[{$key}][1] = '{$val.1}';
    {/foreach}
    if (key != '-')
    {
        if(sysm[key][0] != '-')
        {
            document.getElementById('item_name').value = sysm[key][0];
            document.getElementById('item_url').value = sysm[key][1];
            last = document.getElementById('menulist').selectedIndex;
        }
        else
        {
            if(last < document.getElementById('menulist').selectedIndex)
            {
                document.getElementById('menulist').selectedIndex ++;
            }
            else
            {
                document.getElementById('menulist').selectedIndex --;
            }
            last = document.getElementById('menulist').selectedIndex;
            document.getElementById('item_name').value = sysm[last-1][0];
            document.getElementById('item_url').value = sysm[last-1][1];
        }
    }
    else
    {
        last = document.getElementById('menulist').selectedIndex = 1;
        document.getElementById('item_name').value = sysm[last-1][0];
        document.getElementById('item_url').value = sysm[last-1][1];
    }
}
function checkForm()
{
    if(document.getElementById('item_name').value == '')
    {
        alert('{$lang.namecannotnull}');
        return false;
    }
    if(document.getElementById('item_url').value == '')
    {
        alert('{$lang.linkcannotnull}');
        return false;
    }
    return true;
}

/**
   * 卡号增加
   */
  function addcard(obj)
  {
    var src      = obj.parentNode.parentNode;
    var tbl      = document.getElementById('card_list_tab');

    var validator  = new Validator('theForm');
    

    var row  = tbl.insertRow(tbl.rows.length);
    var cell = row.insertCell(-1);
    cell.innerHTML = src.cells[0].innerHTML.replace(/(.*)(addcard)(.*)(\[)(\+)/i, "$1removecard$3$4−");

    var xs_card_start = document.getElementsByName("xs_card_start[]");
    var xs_card_end  = document.getElementsByName("xs_card_end[]");
    xs_card_start[xs_card_start.length-1].value = "";
    xs_card_end[xs_card_end.length-1].value   = "";

	var yc_card_start = document.getElementsByName("yc_card_start[]");
    var yc_card_end  = document.getElementsByName("yc_card_end[]");
	yc_card_start[yc_card_start.length-1].value = "";
    yc_card_end[yc_card_end.length-1].value   = "";
  }

  /**
   * 卡号删去
   */
  function removecard(obj)
  {
    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('card_list_tab');

    tbl.deleteRow(row);
  }

function key()
{
    last = document.getElementById('menulist').selectedIndex = 0;
}
<!--
{literal}
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
//-->
</script>
{include file="pagefooter.htm"}