<!-- $Id: category_info.htm 16752 2009-10-20 09:59:38Z wangleisvn $ -->
{include file="pageheader.htm"}
<!-- start add new category form -->
<!-- 添加分类开始 -->
{if $act eq 'addclass'}
<div class="main-div">
  <form action="piaoduoduo_jingqu.php" method="post" name="theForm" onsubmit="checkForm()">
  <input type="hidden" name="act" value="doClass" />
  <table width="100%" id="general-table">
      <tr><td class="label">现有分类:</td>
      <td>
        {foreach from=$class item=list key=okey}
        <li style="float:left;width:100px;list-style-type:none;"><span>{$list.class_name}</span>&nbsp;&nbsp;&nbsp;<span style=" position: relative; top: 9px; "><a href="piaoduoduo_jingqu.php?act=delclass&class_id={$list.class_id}" onclick="delclass()" title="{$lang.remove}"><img src="images/no.gif" border="0" height="16" width="16" /></a> 
        </span></li>
          
        {/foreach}
        </td>
      </tr>
      <tr>
        <td class="label">分类名称:</td>
        <td>
          <input type='text' name='class_name' maxlength="20" id="class_name" size='27' /> <font color="red">*</font>
        </td>
      </tr>

  </table>
      <div class="button-div">
        <input type="submit" value="{$lang.button_submit}" />
        <input type="reset" value="{$lang.button_reset}" />
      </div>
    
  </form>
</div>
{/if}
<!-- 添加分类结束 -->

<!-- 批量修改景区分类 -->
{if $act eq 'batchclass'}
<div class="main-div">
  <form action="piaoduoduo_jingqu.php" method="post" name="theForm" onsubmit="checkForm1()">
  <input type="hidden" name="act" value="dobatchclass" />
  <input type="hidden" name="ids" value="{$ids}" />
  <div style="text-align:center;">
  现有分类：
  <select name="class_id" id="class_select">
    {foreach from=$class item=list key=okey}
    <option value="{$list.class_id}">{$list.class_name}</option>
     {/foreach}
  </select>
  </div>
      <div class="button-div">
        <input type="submit" value="{$lang.button_submit}" />
        <input type="reset" value="{$lang.button_reset}" />
      </div>
    
  </form>
</div>
{/if}

<!-- 批量修改景区城市 -->
{if $act eq 'batchcity'}
<div class="main-div">
  <form action="piaoduoduo_jingqu.php" method="post" name="theForm" onsubmit="checkForm2()">
  <input type="hidden" name="act" value="dobatchcity" />
  <input type="hidden" name="ids" value="{$ids}" />
  <div style="text-align:center;">
  编辑城市：
    <select id="shi" onchange="getregion(this.value);" name="region_id1"> 
    {foreach from=$citys item=list key=okey}
      <option value="{$list.region_id}">{$list.region_name}</option>
   
    {/foreach}
    </select>市
    <select id="xian" name="region_id2">
          
    </select>县/区 
  </div>
      <div class="button-div">
        <input type="submit" value="{$lang.button_submit}" />
        <input type="reset" value="{$lang.button_reset}" />
      </div>
    
  </form>
</div>
<script language="javascript" type="text/javascript">
window.onload = function(){
  var id=document.getElementById("shi").value;
  getregion(id);
} 
function getregion(id){  
  // alert(id);
  Ajax.call('piaoduoduo_jingqu.php', 'act=selcity' + '&region_id='+id, selcity, "POST", "text");
      
}
function selcity(data){
  document.getElementById("xian").innerHTML = data;
} 
</script>  
{/if}
<!-- 批量修改景区分类 -->

{insert_scripts files="../js/utils.js,validator.js"}
{literal}
<script language="JavaScript">
function delclass(){
    if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
    }

}
document.forms['theForm'].elements['class_name'].focus();
  function checkForm(){
    // alert(111);
    if(document.getElementById('class_name').value){
      return true;
    }else{
      alert("分类不能为空");
      document.getElementById('class_name').focus();
      return false;
    }
  }
  function checkForm1(){
    // alert(111);
    if(document.getElementById('class_select').value){
      return true;
    }else{
      alert("分类不能为空");
      document.getElementById('class_select').focus();
      return false;
    }
  }
  function checkForm2(){
    // alert(111);
    if(document.getElementById('region_select').value){
      return true;
    }else{
      alert("城市不能为空");
      document.getElementById('region_select').focus();
      return false;
    }
  }

</script>
{/literal}
{include file="pagefooter.htm"}