<!-- $Id: order_query.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<div class="main-div">
{if $act eq 'piaoduoduo_excel_out'}
<form action="piaoduoduo_order.php?act=piaoduoduo_out" method="post" enctype="multipart/form-data" name="searchForm">
  <table cellspacing="1" cellpadding="3" width="100%">
     <!--  <tr><td colspan="4"><div style="margin-left:120px;"><strong> &nbsp;供&nbsp;应&nbsp;商&nbsp;：&nbsp;<input name="supplier_id" type="text" id="supplier_id" size="15"> </strong></div></td></tr>
      <tr> -->
      <td><div align="right"><strong>请选择时间：</strong></div></td>
      <td>
      <input type="text" name="start_time" maxlength="60" size="20" readonly="readonly" id="start_time_id" />
      <input name="start_time_btn" type="button" id="start_time_btn" onclick="return showCalendar('start_time_id', '%Y-%m-%d %H:%M', '24', false, 'start_time_btn');" value="{$lang.btn_select}" class="button"/>
      ~      
      <input type="text" name="end_time" maxlength="60" size="20" readonly="readonly" id="end_time_id" />
      <input name="end_time_btn" type="button" id="end_time_btn" onclick="return showCalendar('end_time_id', '%Y-%m-%d %H:%M', '24', false, 'end_time_btn');" value="{$lang.btn_select}" class="button"/>  
      </td>

    </tr>  
    <tr>
      <td colspan="4"><div align="center">
      	<input name="status" type="hidden" value="1">
        <input name="query" type="submit" class="button" id="query" value="开始导出" />
      </div></td>
      </tr>
  </table>
</form>
{/if}

</div>
{insert_scripts files="../js/transport.org.js,../js/region.js"}
{literal}
<script language="JavaScript">
region.isAdmin = true;
onload = function()
{
  // 开始检查订单
  startCheckOrder();
}
</script>
{/literal}
{include file="pagefooter.htm"}
