{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- 订单搜索 -->
<div class="form-div">
  <form action="javascript:searchOrder()" name="searchForm">
    <img src="images/icon_search.gif" width="26" height="22" border="0" alt="SEARCH" />
    订单号：<input name="order_sn" type="text" id="order_sn" size="15">
	  卡号：<input name="user_name" type="text" id="user_name" size="20">
    <input type="submit" value="{$lang.button_search}" class="button" />
  </form>
</div>
<style>
  .piaoduoduo_excel_out{
    font-size: 14px;
    background-color: #ccc;
    padding:5px 10px;
    position: absolute;
    top:68px;
    right:20px;
    list-style: none;
  }
</style>
<div style="margin-top:5px;">
<!-- &nbsp;&nbsp;&nbsp;&nbsp;
<span class="daoru" ><a href="coupons.php?act=coupons_excel_in">导入</a></span> -->
&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <span class="piaoduoduo_excel_out" ><a href="piaoduoduo_order.php?act=piaoduoduo_excel_out">导出</a></span> -->
</div>
<!-- 订单列表 -->
<form method="post" action="piaoduoduo_order.php?act=operate" name="listForm" onsubmit="return check()">
  <div class="list-div" id="listDiv">
{/if}

<table cellpadding="3" cellspacing="1">
  <tr>
    <th>
      <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" /><a href="javascript:listTable.sort('order_sn', 'DESC'); ">订单号</a>{$sort_order_sn}
    </th>
    <th>返回订单号</th>
    <th><a href="javascript:listTable.sort('pay_time', 'DESC'); ">支付时间</a>{$sort_order_time}</th>
    <th>购买人</th>
	<th>单价</th>
	<th><a href="javascript:listTable.sort('number', 'DESC'); ">数量</a>{$sort_number}</th>
	<th><a href="javascript:listTable.sort('total_price', 'DESC'); ">订单金额</a>{$sort_total_price}</th>
    <th>结算价(单价)</th>
    <th>是否可以退票</th>
    <th>订单状态</th>
    <th>操作</th>
  <tr>
  {foreach from=$order_list item=order key=okey}
  <tr>
    <td valign="top" nowrap="nowrap"><input type="checkbox" name="checkboxes" value="{$order.order_sn}" />{$order.order_sn}</td>
    <td valign="top" width="100px;">{$order.api_order_sn}</td>
    <td valign="top">{$order.pay_time}</td>
    <td align="left" valign="top">用户名：{$order.user_name|escape}<br/>真实姓名：{$order.name} <br/>证件号码：{$order.card_num}<br/>  手机: {$order.MobileNumberToGetEticket|escape}<br/> 票名称：{$order.ProductName|escape}<br/>票类型：{$order.TicketCategory|escape}</br>{if $order.ListETicketCode}票码：{$order.ListETicketCode}<br/>{/if}
    {if $order.refund}退票：已退票（{$order.refund}）张  {if $order.RefundInfo}退票说明：{$order.RefundInfo} {/if} {if $order.AuditDate}退票时间：{$order.AuditDate}{/if} <br/>{/if}
    {if $order.TripDate} 预约时间：{$order.TripDate}{/if}</td>
    <td align="center" valign="top" nowrap="nowrap">{$order.SellPrice}</td>
	<td align="center" valign="top" nowrap="nowrap">{$order.TotalTicketQuantity}</td>
	<td align="right" valign="top" nowrap="nowrap">{$order.total_price}</td>
	<td align="right" valign="top" nowrap="nowrap">{$order.SettlementPrice}</td>
	<td valign="right" align="center">{$order.tuipiao_state}</td>

    <td align="center" valign="top"  nowrap="nowrap">
      {$order.Status}
    </td>
    <td align="center" valign="top"  nowrap="nowrap">
      {if $order.tuipiao}{$order.tuipiao}</br>{if $order.refund}已退票（{$order.refund}）张</br>{/if}{/if}
      {if $order.quxiao}{$order.quxiao}</br>{/if}
      {if $order.again_sending}{$order.again_sending}</br>{/if}
    </td>
  </tr>
  {/foreach}
</table>
<!-- 分页 -->
<table id="page-table" cellspacing="0">
  <tr>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
  </div>
  <div>
    <input name="remove" type="submit" id="btnSubmit3" value="{$lang.remove}" class="button" disabled="true" onclick="this.form.target = '_self'" />
	<!-- <input name="status" type="submit" id="btnSubmit" value="已兑换" class="button" disabled="" onclick="this.form.target = '_self'"> -->

    <input name="batch" type="hidden" value="1" />
    <input name="order_sn" type="hidden" value="" />
  </div>
</form>
<script language="JavaScript">
listTable.recordCount = {$record_count};
listTable.pageCount = {$page_count};

{foreach from=$filter item=item key=key}
listTable.filter.{$key} = '{$item}';
{/foreach}
{literal}

    onload = function()
    {
        // 开始检查订单
        startCheckOrder();
    }

    /**
     * 搜索订单
     */
    function searchOrder()
    {
        listTable.filter['order_sn'] = Utils.trim(document.forms['searchForm'].elements['order_sn'].value);
		    listTable.filter['user_name'] = document.forms['searchForm'].elements['user_name'].value;
        listTable.filter['page'] = 1;
        listTable.loadList();
    }

    function check()
    {
      var snArray = new Array();
      var eles = document.forms['listForm'].elements;
      for (var i=0; i<eles.length; i++)
      {
        if (eles[i].tagName == 'INPUT' && eles[i].type == 'checkbox' && eles[i].checked && eles[i].value != 'on')
        {
          snArray.push(eles[i].value);
        }
      }
      if (snArray.length == 0)
      {
        return false;
      }
      else
      {
        eles['order_sn'].value = snArray.toString();
        return true;
      }
    }
</script>
{/literal}

{include file="pagefooter.htm"}
{/if}