{include file="pageheader.htm"} 
{insert_scripts files="../js/utils.js,selectzone_bd.js,colorselector.js,listtable.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<style>
	#ratio-table tr th, #show-table tr th {
		text-align:left;
		text-indent:30px;
		border-bottom:1px #ccc solid;
		padding-bottom:10px;
	}
	#ratio-table tr th .goods_name, #show-table tr th .goods_name{ width:250px; height:20px; line-height:20px; text-indent:10px;}
	#ratio-table tr th .search_goods, #show-table tr th .search_goods{ width:50px; height:28px; line-height:28px; text-align:center; margin-left:10px;}
	#ratio-table tr td.p0, #show-table tr td.p0{ padding:20px 0; }
	#ratio-table tr td .table-row{ border:1px #ccc dotted; padding:10px; margin-bottom:10px;}
	.card_rule{min-height:200px; max-height:800px; height:100%; display:inline-block}
	.goods_list ul,.card_rule ul{ list-style:none; padding:0 0 0 10px;}
	.card_rule ul li{ width:290px; min-height:30px; line-height:20px; float:left;}
	
	.s-option{ padding:4px; }
	.s-fr{display:inline-block; float:right; height:30px; line-height:30px;}
	.table-row{margin:10px 0 0 0; border:1px #ccc solid; width:100%}
	.table-row tr th{ text-align:left; text-indent:2em; height:30px; line-height:30px; font-size:12px; border-bottom:1px #ccc dashed;}
	.table-row tr td{ height:25px; line-height:25px; text-indent:2em;}
	.table-row tr:hover{ background:gainsboro;}
</style>
<div class="tab-div">
	<div id="tabbody-div">
		<form method="post" action="card_rule.php?act=rule_out">
		<table id="show-table" style="width:100%">
			<tr>
				<th colspan="2">
					<span>供应商：
						<select name="supplier_id" class="s-option">
							<option value="0">请选择</option>
							{foreach from=$supplier item=supp}
								<option value="{$supp.supplier_id}" {if $supp.selected==true} selected {/if}>{$supp.supplier_name}</option>
							{/foreach}
						</select>
					</span>&nbsp;&nbsp;&nbsp;
					<span>商品名称：
						<input type="text" class="goods_name" name="goods_name" value="{$goods_name}">
						<input type="hidden" name="id" value="{$card_id}">
						<input type="submit" name="submit" class="search_goods" value="搜索">
					</span>
					<span class="s-fr">
						<a href="card_rule.php?act=set_rule_out&id={$card_id}">添加排除规格</a>
					</span>
				</th>
			</tr>
			<tr>
			{if empty($list)}
			<table class="table-row">
					<tr>
						<th colspan="4"><center style="color:red; height:80px; line-height:80px;"> 没有数据 </center></th>
					</tr>
			</table>
			{/if}
			{foreach from=$list item=row}
				<table class="table-row">
					<tr>
						<th colspan="4">{$row.goods_name}</th>
					</tr>
					{foreach from=$row.spec item=row2 name=n2}
					{if $smarty.foreach.n2.index%2==0}
					<tr bgcolor="">
					{else}
					<tr bgcolor="ghostwhite">
					{/if}
						<td width="250">规格：{$row2.spec_name}</td>
						<td width="250">价格：{$row2.spec_price}</td>
						<td width="250">编号：{$row2.spec_nember}</td>
						<td align="middle"><a href="card_rule.php?act=delete_spec_out&id={$row2.id}&goods_id={$row2.goods_id}&card_id={$card_id}" onclick="return confirm('确定删除吗？')">删除</a></td>
					</tr>
					{/foreach}
				</table>
			 {/foreach}
            </tr>				
		</table>	
		</form>	
	</div>
</div>
{insert_scripts files="validator.js,tab.js"}
{include file="pagefooter.htm"}
</body>
</html>