{include file="pageheader.htm"}
<!-- 短信模板列表 -->
{if $act eq 'send_content'}
<style>
.action_span{
position: absolute;
right: 16px;
top: 16px;} 
.action_span a{
color: #666;
font-size: 12px;
font-weight: 400;
text-decoration: none;
display: block;
padding: 2px 5px 2px 23px;
border: 1px solid #278296;
border-right: 2px solid #278296;
border-bottom: 2px solid #278296;
background: #DDEEF2 url(./images/icon_add.gif) no-repeat 3px center;}  
</style>
<div class="list-div">

<span class="action_span"><a href="sms.php?act=add_content">添加新模板</a></span>

<table cellpadding='3' cellspacing='1'>
    <tr><th>序号</th>
        <th>短信模板内容</th>
        <th>操作</th>
    </tr>
    {foreach from=$cmsContent item=content}
    <tr>
        <td>{$content.id}</td>
        <td>{$content.value}</td>
        <td align="center">
          <!-- <a href="sms.php?act=view&amp;snatch_id={$snatch.act_id}" title="{$lang.view_detail}"><img src="images/icon_view.gif" border="0" height="16" width="16"></a> -->
          <a href="sms.php?act=editValue&amp;id={$content.id}" title="{$lang.edit}"><img src="images/icon_edit.gif" border="0" height="16" width="16"></a>
          <a href="sms.php?act=del_content&amp;id={$content.id}" onclick="confirm('你确定要删除这个模板么？')" title="{$lang.remove}"><img src="images/icon_drop.gif" border="0" height="16" width="16"></a>
        </td>
    </tr>
    {/foreach}
</table>

</div>
<p>注意：替换值为@，逗号为中文符号下的‘，’绝对不能错</p>

{/if}
<!-- 编辑短信模板 -->
{if $act eq 'editValue'}
<div class="main-div">
<form method="POST" action="sms.php" name="listForm">
<input type="hidden" value="doEditValue" name="act">
<input type="hidden" value="{$cmsContent.id}" name='id'>
<textarea name="value" id="" cols="30" rows="10">{$cmsContent.value}</textarea>
<input type="submit" name="submit" value="提交" class="button">
</form>
</div>
{/if}

<!-- 添加短信模板 -->
{if $act eq 'add_content'}
<div class="main-div">
<form method="POST" action="sms.php" name="listForm">
<input type="hidden" value="doAddContent" name="act">
<textarea name="value" id="" cols="30" rows="10"></textarea>
<input type="submit" name="submit" value="提交" class="button">
</form>
</div>
{/if}
<!-- 编辑短信模板 -->
{include file="pagefooter.htm"}