<!--底部固定导航-->
<nav class="mui-bar mui-bar-tab mui-row">
	<div class="mui-col-xs-5">
	    <a class="mui-tab-item mui-active border_right_ddd" href="#">
			<span class="mui-icon mui-icon-home"></span>
			<span class="mui-tab-label">首页</span>
		</a>
		<a class="mui-tab-item border_right_ddd jump-cart" href="#">
			<span class="mui-icon mui-icon-chat"></span>
			<span class="mui-tab-label">购物车</span>
		</a>
		<a class="mui-tab-item" href="#">
			<span class="mui-icon mui-icon-contact"></span>
			<span class="mui-tab-label">我的</span>
		</a>
	</div>
	<div class="mui-col-xs-7">
		<a class="mui-tab-item footer_liji" href="#">
			<span class="mui-tab-label act-done">立即结算</span>
		</a>
		<a class="mui-tab-item footer_jiaru" href="#">
			<span class="mui-tab-label act-cart">加入购物车</span>
		</a>
	</div>
</nav>
<!--底部固定导航 end-->
<div class="mui-content">
	{{if data}}
	<div id="slider" class="mui-slider">
		<div class="mui-slider-group">
			{{each data.pictures}}
			<div class="mui-slider-item">
				<a href="#">
					<img src="{{$value.img_url}}"> 
				</a>
			</div>
			{{/each}}
		</div>
		<div class="mui-slider-indicator">
		{{each data.pictures}}
			<div class="mui-indicator {{if $index == 0}} mui-active{{/if}}"></div>
		{{/each}}	
		</div>
	</div>
	<!--图片轮播 end-->
	<div class="cake_details_title mui-row bg_white">
		<div class="mui-col-xs-8">
			<h4>{{data.goods.goods_name}}</h4>
			<span class="color_coral" id='price-total'>--</span>
		</div>
		<div class="mui-col-xs-4 mui-text-right">
			<div class="mui-numbox" data-numbox-min='1'>
					<button class="mui-btn-numbox-minus" type="button">-</button>
					<input class="mui-input-numbox" type="number" name="number" id="number" />
					<button class="mui-btn-numbox-plus" type="button">+</button>
			</div>
		</div>
	</div>
	<form action="javascript:addToCart({$goods.goods_id})" method="post" name="ECS_FORMBUY" id="ECS_FORMBUY" onsubmit="return false">
	<div class="container xiangqing bg_white">
		<div class="mui-row">
			<div class="mui-col-xs-3">
				<h5 class="mui-pull-right guige_1">规格：</h5>
			</div>
			<div class="mui-col-xs-9">
			{{each data.specs}}
				<label for="spec_value_S_{{$value.spec_nember}}"><h6 class="spec-change{{if $index == 0}} checked {{/if}}" data-id="S_{{$value.spec_nember}}">{{$value.spec_name}}</h6>				
				<input type="radio" name="spec_s_100" value="S_{{$value.spec_nember}}"  {{if $index == 0}} checked {{/if}} id="spec_value_S_{{$value.spec_nember}}"  style="display: none;" /></label>
			{{/each}}
			</div>
		</div>
	
		{{each data.specification as spec}}
		<div class="mui-row">		
			<div class="mui-col-xs-3">
				<h5 class="mui-pull-right guige_1">{{spec.name}}：</h5>
			</div>
			{{if spec.attr_type == 1}}
			<div class="mui-col-xs-9 pt3">
				
				{{each spec.values}}			
				<label for="spec_value_{{$value.id}}"><h6 class="spec-change{{if $index ==0}} checked {{/if}}" data-id="{{$value.id}}">{{$value.label}}</h6>			
				<input type="radio" name="spec_{{spec.attr_id}}" value="{{$value.id}}" {{if $index == 0}} checked {{/if}} id="spec_value_{{$value.id}}"  style="display: none;" /></label>
				{{/each}}
			</div>
			{{/if}}		
		</div>
		{{/each}}	
	</div>
	<div class="bg_white color_2fd0b5 cake_tips">{{data.goods.goods_brief}}</div>
	<div style="padding: 10px 10px;" class="bg_white">
		<div id="segmentedControl" class="mui-segmented-control mui-segmented-control-inverted">
			<a class="mui-control-item mui-active" href="#item1">规格参数</a>
			<a class="mui-control-item" href="#item2">内容详情</a>
		</div>
		<!--规格参数 start-->
		<div id="item1" class="mui-control-content mui-active">
			<ul class="mui-table-view">
			{{each data.properties as propertie}}
			{{each propertie as value}}
				 <li class="mui-table-view-cell">{{value.name}}<p class="mui-pull-right" style="width: 60%;">{{value.value}}</p></li>
			{{/each}}	 
		    {{/each}}   
			</ul>
		</div>
		<!--规格参数 end-->
		<!--内容详情 start-->
		<div id="item2" class="mui-control-content public_xiangqing_img">
			{{#data.goods.goods_desc}}
		</div>
		<!--内容详情 end-->
	</div>
	{{/if}}
	</form>
</div>
<script>
	/*动态导入js*/
	insertJs(['../js/jquery.common.js']);
	
	/*计算价格*/
	function changePrice(){
		var attr = getSelectedAttributes(document.forms['ECS_FORMBUY']);		
		var qty = jQuery('input[type=number]').val();
		jQuery.ajaxJsonp(web_url+"/mobile/goods.php",{act:'price',id:goods_id, attr:attr, number:qty},function(result){
			$('#price-total').html(result.data.shopPrice+'点');
		});
	}
	 
	changePrice();
	
	/*改变规格*/
	mui('.xiangqing').on('tap','.spec-change',function(event){	
		event.stopPropagation();
		var _that = jQuery(this);
		if(_that.hasClass('checked')){
			return false;
		}
		_that.closest('.mui-row').find('.spec-change').each(function(){
			jQuery(this).removeClass('checked');
		});	
		_that.addClass('checked');
		_that.siblings('input').prop("checked",true).parents('label').siblings().find('input').prop('checked',false);
		changePrice();
	});
	
	/* 修改数量的时候，从新计算价格 */
	mui('.mui-input-numbox')[0].addEventListener('change',function(event){
		event.stopPropagation();
		changePrice();
	});
	
	/* 加入购物车 */
	mui('.act-cart')[0].addEventListener('tap',function(){
		addToCart(goods_id);
	});
	
	/* 跳转到购物车 */
	mui('.jump-cart')[0].addEventListener('tap',function(){
		mui.openWindow({
			url:'../flow/cart.html',
			id:'cart.html'
		});
	});
	/* 立即购物 */
	mui('.act-done')[0].addEventListener('tap',function(){
		addToCart(goods_id,'',5);		
	});
	
	
</script>