<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">


            <!--multi level menu start-->
            <li class="sub-menu">
                <a href="javascript:;" class="dcjq-parent active">
                    <i class="fa fa-sitemap "></i>
                    <span>活动</span>
                </a>
                <!--<ul class="sub">-->

                    <!--<li><a id="a1" class="activeColor" href="{:U('User/userlist')}">用户列表</a></li>-->

                <!--</ul>-->
                <ul class="sub">

                    <li><a id="a2" class="activeColor" href="{:U('Company/companyList')}">公司列表</a></li>

                </ul>
                <ul class="sub">

                    <li><a class="activeColor" href="{:U('Games/gameList')}">游戏列表</a></li>

                </ul>
                <ul class="sub">

                    <li><a id="a3" class="activeColor" href="{:U('Grade/gradeList')}">等级列表</a></li>

                </ul>

            </li>
            <!--multi level menu end-->

        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<script src="__PUBLIC__/games/js/jquery.js"></script>
